<link rel="stylesheet" href="../static/styles/login/login.css">

<div class="main" id="app">
    <div class="edit-wrapper">
        <div class="block-wrapper">
            <div class="input-group">
                <span class="input-group-label"><i class="star">*</i>旧密码：</span>
                <input autocomplete="off"
                       onkeydown="vm.keybordEnter()"
                       v-model="oldLoginPassWord"
                       id="oldPassword"
                       type="password"
                       class="input-group-form"
                       placeholder="请输入旧密码">
            </div>
        </div>
        <div class="block-wrapper">
            <div class="input-group">
                <span class="input-group-label"><i class="star">*</i>新密码：</span>
                <input onkeydown="vm.keybordEnter()"
                       v-model="newLoginPassWord"
                       id="newPassword"
                       type="password"
                       class="input-group-form"
                       placeholder="请输入新密码">
            </div>
        </div>
        <div class="block-wrapper">
            <div class="input-group">
                <span class="input-group-label"><i class="star">*</i>确认密码：</span>
                <input onkeydown="vm.keybordEnter()"
                       v-model="newLoginPassAgain"
                       type="password"
                       class="input-group-form"
                       placeholder="请再次输入新密码">
            </div>
        </div>
        <div class="block-wrapper">
            <span class="input-group-label"></span>
            <span class="error">{{ msg }}</span>
        </div>
        <div class="block-wrapper">
            <span class="input-group-label"></span>
            <button @click="submitHandle" class="btn btn-md btn-theme" type="button">确认修改</button>
        </div>

    </div>
</div>

<script src="../static/scripts/login/password.js"></script>