<link rel="stylesheet" href="../static/styles/login/login.css">

<div class="main" id="app">
    <div class="edit-wrapper">
        <div class="block-wrapper">
            <div class="input-group">
                <span class="input-group-label"><i class="star">*</i>旧密码：</span>
                <input onkeydown="vm.keybordEnter()" v-model="passwordList.oldLoginPass" type="password" class="input-group-form" placeholder="请输入旧密码">
            </div>
        </div>
        <div class="block-wrapper">
            <div class="input-group">
                <span class="input-group-label"><i class="star">*</i>新密码：</span>
                <input onkeydown="vm.keybordEnter()" v-model="passwordList.newLoginPass" type="password" class="input-group-form" placeholder="请输入新密码">
            </div>
        </div>
        <div class="block-wrapper">
            <div class="input-group">
                <span class="input-group-label"><i class="star">*</i>确认密码：</span>
                <input onkeydown="vm.keybordEnter()" v-model="newLoginPassAgain" type="password" class="input-group-form" placeholder="请再次输入新密码">
            </div>
        </div>
        <div class="block-wrapper">
            <span class="input-group-label"></span>
            <span class="error">{{ msg }}</span>
        </div>
        <div class="block-wrapper">
            <span class="input-group-label"></span>
            <button @click="submitHandle" class="btn btn-md btn-theme" type="button">确认修改</button>
        </div>

    </div>
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: function() {
            return {
                passwordList: {
                    oldLoginPass: '',
                    newLoginPass: ''
                },
                msg: '',
                newLoginPassAgain: ''
            }
        },
        methods: {
            submitHandle: function() {
                $.ajax({
                    url: PATH + '/oauth/updateLoginPass',
                    type: 'get',
                    data: this.passwordList,
                    dataType: 'json',
                    success: function(result){
                        // console.log(result)
                        if(result.code === 201) {
                            vm.msg = result.msg
                        }
                        toastr.success('修改密码成功');
                        window.location.href = 'login.html'
                    },
                    error: function(result){
                        console.log('修改密码 请求失败')
                    }
                })
            },
            // 键盘回车登录
            keybordEnter: function() {
                var ikeyCode = (navigator.appname=="Netscape")?event.which:window.event.keyCode;
                if (ikeyCode == 13){
                    this.submitHandle()
                }
            },
        }
    })
</script>