<link rel="stylesheet" href="../static/styles/client/client.css">

<div id="app" class="main" @click="hideFuzzyQuery">
    <div class="breadcrumb">
        <a href="">首页</a>
        <span class="line">/</span>
        <span>客户管理</span>
    </div><!-- /.breadcrumb-->

    <div v-if="userLevel !== 'dqxyh' " class="user-level-tabs clearfix">
        <div :class="{'level-active': levelActive == 'me' }"
             @click="changeClientList('me')"
             v-if="userLevel !== 'xsld' "
             class="user-level-me">客户信息</div>
        <div :class="{'level-active': levelActive == 'department' }"
             @click="changeClientList('department')"
             v-if="userLevel !== 'xs' "
             class="user-level-department">客户信息
        </div>
        <div :class="{'level-active': levelActive == 'all' }"
             @click="changeClientList('all')"
             class="user-level-all">客户信息查询
        </div>
    </div>

    <div class="opera clearfix">
        <div v-if="clientMsgQueryBtn" class="industry">
            <div class="dropdown-wrap">
                <span class="dropdown-label">行业:</span>
                <div class="dropdown">
                    <span v-text="hDropText" class="dropdown-default"></span>
                    <i class="fa fa-angle-down"></i>
                    <ul>
                        <li v-for="item in industry"
                            v-text="item.text"
                            @click="hDrop(item.code, item.text)"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div v-if="clientMsgQueryBtn" class="client-num">
            <div class="input-group-label">客户编号:</div>
            <div class="input-group">

                <input v-model="hClientCode" type="text" class="input-group-form">
            </div>
        </div>

        <div class="client-name">
            <div class="input-group">
                <span class="input-group-label">客户名称:</span>
                <input v-model="hClientName"
                       @keyup="getFuzzyList(1)"
                       type="text" class="input-group-form">
            </div>
            <ul v-if="fuzzyQueryList_1.length !== 0" class="fuzzy-query" style="left: 85px">
                <li v-for="item in fuzzyQueryList_1"
                    @click="selectFuzzyText(1, item)"
                    v-text="item"
                ></li>
            </ul>
        </div>

        <div class="query-reset">
            <div @click="queryBtn" class="btn btn-theme" style="margin-right: 20px;">查询</div>
            <div @click="resetBtn" class="btn btn-border pull-right">重置</div>
        </div>
    </div><!-- /.opera -->

    <div class="client">
        <div class="table-opera clearfix">
            <div class="pull-left">

                <div @click="addClient"
                     v-if="onlySale"
                     class="btn btn-theme">
                    <i class="fa fa-plus"></i>
                    <span>添加客户</span>
                </div>

                <div @click="upload"
                     v-if="alwaysHide"
                     class="btn btn-theme">
                    <i class="fa fa-cloud-upload"></i>
                    <span>导入</span>
                </div>
            </div>
            <div class="pull-right">
                <div class="client-page page-css">
                    <div @click="calcPage('client' , 'first')"
                         class="page-css-first"><i class="fa fa-angle-double-left"></i></div>
                    <div @click="calcPage('client' , -1)" class="page-css-prev" style="margin-right: 10px;"><i
                            class="fa fa-angle-left"></i></div>
                    <span>第</span><input @keyup.enter="clientEnter" type="text" style="margin: 0 5px;" v-model="clientPageNum"><span>页，</span>
                    <span>共 {{clientPageSum}} 页，</span>
                    <div @click="calcPage('client' , 1)"
                         class="page-css-next"><i class="fa fa-angle-right  "></i></div>
                    <div @click="calcPage('client' , 'last')" class="page-css-last" style="margin-right: 10px;"><i
                            class="fa fa-angle-double-right"></i></div>
                    <span>显示</span>
                    <span style="margin-left: 5px;">{{clientPageStart}}</span>
                    <span>-</span>
                    <span style="margin-right: 5px;">{{clientPageEnd}}</span>
                    <span>条，</span>
                    <span>共&nbsp; {{clientPageTotal}} &nbsp;条</span>
                </div>
            </div>
        </div>
        <table class="i-table">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>报备名称</th>
                    <th>所属事业部</th>
                    <th v-if="clientMsgQueryBtn">负责销售</th>
                    <th>客户编号</th>
                    <th class="text-left">客户名称</th>
                    <th v-if="clientMsgQueryBtn">行业线</th>
                    <th v-if="clientMsgQueryBtn" class="text-left">地址</th>
                    <th v-if="clientMsgQueryBtn" class="text-left">审批状态</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item ,index) in client.root"
                    :class="{'tr-active': index == cCheckIndex}"
                    @click="queryClientMsg(item.customerCode, index, item.id)">
                    <td v-text="index +1"></td>
                    <td v-text="item.reportDate"></td>
                    <td v-text="item.salesGroup"></td>
                    <td v-text="item.creatorName" v-if="clientMsgQueryBtn"></td>
                    <td v-text="item.customerCode"></td>
                    <td v-text="item.customerName"  class="text-left"></td>
                    <td v-text="item.industryLine" v-if="clientMsgQueryBtn"></td>
                    <td v-text="item.address" v-if="clientMsgQueryBtn" class="text-left" style="max-width: 300px;"></td>
                    <td v-if="clientMsgQueryBtn" style="padding-right: 10px;">
                        <div class="pull-left types-show">
                            <span v-if="item.status == 'pending' && (userLevel == 'xsld' || userLevel == 'dqxyh') "
                                  class="type-pending">待审批</span>
                            <span v-if="item.status == 'pending' && userLevel == 'xs'  "
                                  class="type-pending">待审核</span>
                            <span v-if="item.status == 'pass' " class="type-pass">通过</span>
                            <span v-if="item.status == 'reject' " class="type-reject">驳回</span>
                            <span v-if="item.status == 'revoke' " class="type-revoke">已撤回</span>
                        </div>
                        <div class="pull-right operas-btn">
                            <div v-if="item.status == 'pending' && (userLevel == 'xsld' || userLevel == 'dqxyh') && item.power == 'pro' "
                                 @click="disposeBtn(item.id)"
                                 class="btn btn-xs btn-border">审批</div>

                            <div v-if="item.status == 'pending' && userLevel == 'xs'  "
                                 @click="revokeBtn(item.id)"
                                 class="btn btn-xs btn-border">撤回</div>

                            <div v-if="(item.status == 'pass' || item.status == 'reject' || item.status == 'revoke') && userLevel !== 'dqxyh' && item.power == 'pri' "
                                 @click="editClient(index, item.id)"
                                 class="btn btn-xs btn-border">编辑</div>

                            <div v-if="item.status == 'reject' || item.status == 'revoke' "
                                 @click="ignoreBtn()"
                                 class="btn btn-xs btn-border">忽略</div>
                            <!-- 历史记录 -->
                            <div class="btn btn-xs"
                                 @click="queryClientHistory(item.id)">
                                <i class="fa fa-clock-o"
                                   :class="{'has-reject': item.hasReject !== 0}"
                                   v-if="(userLevel == 'xs' && item.power == 'pri') || (userLevel !== 'xs' && item.power == 'pro') || item.power == 'pub'"></i>
                            </div>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
        <div  v-if="noData" style="padding: 10px; text-align: center">暂无相关数据</div>
        <div  v-if="clientNameQuery" style="padding: 10px; text-align: center">请输入客户名称进行查询！</div>
    </div><!-- /.client -->

    <div class="client-msg">
        <div class="table-opera clearfix">
            <div class="pull-left">
                <div v-if="msgBtnIsShow" @click="addMsg" class="btn btn-theme">
                    <i class="fa fa-plus"></i>
                    <span>添加客户机要信息</span>
                </div>
            </div>
        </div>

        <table class="i-table">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>填报人</th>
                    <th>客户所在省份</th>
                    <th>姓名</th>
                    <th>所在部门</th>
                    <th>头衔</th>
                    <th>联系电话</th>
                    <th>邮件</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in clientMsg.root">
                    <td>{{index +1}}</td>
                    <td>{{item.salesStaffName}}</td>
                    <td>{{item.province}}</td>
                    <td>{{item.contactName}}</td>
                    <td>{{item.departmentName}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.telphone}}</td>
                    <td>{{item.email}}</td>
                    <td><i v-if="item.power == 'pri'"
                           @click="editMsg(item.id)"
                            class="fa fa-edit i-text-col" style="font-size: 14px; cursor: pointer;"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div  v-if="noDataMsg" style="padding: 10px; text-align: center">暂无相关数据</div>
    </div><!-- /.client-msg -->

    <div :class="{'hide': dialogShow}" class="dialog-wrap"><!--  -->
        <div @click="hidePop" class="dialog-cover"></div><!-- /.dialog-cover -->
        <!-- 添加客户 和 机要信息 -->
        <div :class="{'hide': addClientIsShow}" class="dialog-content input-width-100">
            <div class="title clearfix">
                <p class="pull-left">添加客户信息</p>
                <p @click="hidePop" class="dialog-close pull-right" ><i class="fa fa-close"></i></p>
            </div>
            <div class="main">
                <div class="msg-item">
                    <div class="msg-item-left">报备日期：</div>
                    <div class="msg-item-right"><span class="value" v-text="cReportDate"></span></div>
                </div><!-- 报备日期 -->

                <div class="msg-item">
                    <div class="msg-item-left">所属事业部：</div>
                    <div class="msg-item-right"><span class="value" v-text="cGroupText"></span></div>
                </div><!-- 所属事业部 -->

                <div class="msg-item">
                    <div class="msg-item-left">行业线：</div>
                    <div class="msg-item-right">
                        <div class="dropdown-wrap">
                            <div class="dropdown">
                                <span class="dropdown-default"
                                      v-text="cIndustryLineText"></span>
                                <i class="fa fa-angle-down"></i>
                                <ul>
                                    <li v-for="item in industry"
                                        v-text="item.text"
                                        :class="{'li-checkbox': item.code == cAddIndustryCode}"
                                        @click="selectIndustry(item.code, item.text)"
                                    ></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- 行业线 -->

                <div class="msg-item">
                    <div class="msg-item-left">客户名称：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="cCustomerName"
                                   ref="cCustomerNameREF"
                                   @blur="formExplain(cCustomerName, 'cCustomerNameREF')"
                                   @keyup="getFuzzyList(2), formExplain(cCustomerName, 'cCustomerNameREF')"
                                   type="text" class="input-group-form">
                            <ul v-if="fuzzyQueryList_2.length !== 0" class="fuzzy-query" style="left: 0">
                                <li @click="selectFuzzyText(2, item)"
                                    v-for="item in fuzzyQueryList_2"
                                    v-text="item"
                                ></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- 客户名称 -->

                <div class="msg-item">
                    <div class="msg-item-left">公司地址：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="cAddress"
                                   ref="cAddressREF"
                                   @blur="formExplain(cAddress, 'cAddressREF')"
                                   @keyup="formExplain(cAddress, 'cAddressREF')"
                                   type="text" class="input-group-form">
                        </div>
                    </div>
                </div><!-- 公司地址 -->

                <div class="msg-item">
                    <div class="msg-item-left">备注：</div>
                    <div class="msg-item-right">
                        <textarea v-model="cRemark"></textarea>
                    </div>
                </div><!-- 备注 -->
            </div><!-- 客户 -->
            <div class="title"><p>添加客户机要信息</p></div>
            <div class="main"><!-- 机要 -->

                <div class="msg-item">
                    <div class="msg-item-left">填报人：</div>
                    <div class="msg-item-right"><span class="value" v-text="mSalesStaffName"></span></div>
                </div><!-- 填报人 -->

                <div class="msg-item">
                    <div class="msg-item-left">区域：</div>
                    <div class="msg-item-right">
                        <ul class="area">
                            <li v-for="(item, index) in regionList"
                                v-text="item.text"
                                @click="selectRegion(item.code, index)"
                                :class="{'area-active': item.code == mRegionCode}"
                            ></li>
                        </ul>
                    </div>
                </div><!-- 省份 -->

                <div class="msg-item">
                    <div class="msg-item-left">客户所在省份：</div>
                    <div class="msg-item-right">
                        <ul class="area">
                            <li v-for="(item, index) in provinceList"
                                v-text="item.text"
                                @click="selectProvince(item.code, item)"
                                :class="{'area-active': item.code == mProvinceCode}"
                            ></li>
                        </ul>
                    </div>
                </div><!-- 区域 -->

                <div class="msg-item">
                    <div class="msg-item-left">客户联系人姓名：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="mContactName"
                                   ref="mContactNameREF"
                                   @blur="formExplain(mContactName, 'mContactNameREF')"
                                   @keyup="formExplain(mContactName, 'mContactNameREF')"
                                   type="text" class="input-group-form">
                        </div>
                    </div>
                </div><!-- 客户联系人姓名 -->

                <div class="msg-item">
                    <div class="msg-item-left">所在部门：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="mDepartmentName"
                                   ref="mDepartmentNameREF"
                                   @blur="formExplain(mDepartmentName, 'mDepartmentNameREF')"
                                   @keyup="formExplain(mDepartmentName, 'mDepartmentNameREF')"
                                   type="text" class="input-group-form">
                        </div>
                    </div>
                </div><!-- 所在部门 -->

                <div class="msg-item">
                    <div class="msg-item-left">头衔：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="mTitle"
                                   ref="mTitleREF"
                                   @blur="formExplain(mTitle, 'mTitleREF')"
                                   @keyup="formExplain(mTitle, 'mTitleREF')"
                                   type="text" class="input-group-form">
                        </div>
                    </div>
                </div><!-- 头衔 -->

                <div class="msg-item">
                    <div class="msg-item-left">联系电话：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="mTelPhone"
                                   ref="mTelPhoneREF"
                                   @blur="formExplain(mTelPhone, 'mTelPhoneREF')"
                                   @keyup="formExplain(mTelPhone, 'mTelPhoneREF')"
                                   type="text" class="input-group-form">
                        </div>
                    </div>
                </div><!-- 联系电话 -->

                <div class="msg-item">
                    <div class="msg-item-left">地址：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="mAddress"
                                   ref="mAddressREF"
                                   @blur="formExplain(mAddress, 'mAddressREF')"
                                   @keyup="formExplain(mAddress, 'mAddressREF')"
                                   type="text" class="input-group-form">
                        </div>
                    </div>
                </div><!-- 邮件 -->

                <div class="msg-item">
                    <div class="msg-item-left">邮件：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="mEmail" type="text" class="input-group-form">
                        </div>
                    </div>
                </div><!-- 地址 -->

                <div class="msg-item">
                    <div class="msg-item-left">备注：</div>
                    <div class="msg-item-right">
                        <textarea v-model="mRemark"></textarea>
                    </div>
                </div><!-- 备注 -->

                <div class="msg-item">
                    <div class="msg-item-left"></div>
                    <div class="msg-item-right">
                        <div @click="addClientConfirm" class="btn btn-theme">提交</div>
                    </div>
                </div><!-- 提交按钮 -->
            </div><!-- 机要 -->
        </div>

        <!-- 编辑客户 -->
        <div :class="{'hide': addClientShow}" class="dialog-content input-width-100">
             <div class="title clearfix">
                 <p v-if="!clientSubmit" class="pull-left">添加客户信息</p>
                 <p v-if="clientSubmit"  class="pull-left">编辑客户信息</p>
                 <p @click="hidePop" class="dialog-close pull-right" ><i class="fa fa-close"></i></p>
             </div>
            <div class="main">
                <div class="msg-item">
                    <div class="msg-item-left">报备日期：</div>
                    <div class="msg-item-right" v-text="cReportDate"></div>
                </div><!-- 报备日期 -->

                <div class="msg-item">
                    <div class="msg-item-left">所属事业部：</div>
                    <div class="msg-item-right" v-text="cGroupText"></div>
                </div><!-- 所属事业部 -->

                <div class="msg-item">
                    <div class="msg-item-left">行业线：</div>
                    <div class="msg-item-right">
                        <div class="dropdown-wrap">
                            <div class="dropdown">
                                <span class="dropdown-default"
                                      v-text="cIndustryLineText"></span>
                                <i class="fa fa-angle-down"></i>
                                <ul>
                                    <li v-for="item in industry"
                                        v-text="item.text"
                                        :class="{'li-checkbox': item.code == cAddIndustryCode}"
                                        @click="selectIndustry(item.code, item.text)"
                                    ></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- 行业线 -->

                <div class="msg-item">
                    <div class="msg-item-left">客户名称：</div>
                    <div class="msg-item-right">
                        <div class="input-group" style="position: relative;">
                            <input v-model="cCustomerName"
                                   @keyup="getFuzzyList(2)"
                                   type="text" class="input-group-form">
                            <ul v-if="fuzzyQueryList_2.length !== 0" class="fuzzy-query" style="left: 0">
                                <li @click="selectFuzzyText(2, item)"
                                    v-for="item in fuzzyQueryList_2"
                                    v-text="item"
                                ></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- 客户名称 -->

                <div class="msg-item">
                    <div class="msg-item-left">公司地址：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="cAddress" type="text" class="input-group-form">
                        </div>
                    </div>
                </div><!-- 公司地址 -->

                <div class="msg-item">
                    <div class="msg-item-left">备注：</div>
                    <div class="msg-item-right">
                        <textarea v-model="cRemark" cols="100" rows="3" style="width: 100%;"></textarea>
                    </div>
                </div><!-- 备注 -->

                <div class="msg-item">
                    <div class="msg-item-left"></div>
                    <div class="msg-item-right">
                        <div v-if="clientSubmit" @click="editClientConfirm" class="btn btn-theme">提交</div>
                    </div>
                </div><!-- 提交按钮 -->
            </div><!-- /.main -->
        </div>

        <!-- 添加客户机要信息 -->
        <div :class="{'hide': addMsgShow}" class="dialog-content input-width-100" >
            <div class="title clearfix">
                <p v-if="!msgSubmit" class="pull-left">添加客户机要信息</p>
                <p v-if="msgSubmit"  class="pull-left">编辑客户机要信息</p>
                <p @click="hidePop" class="dialog-close pull-right"><i class="fa fa-close"></i></p>
            </div>
            <div class="main">

                <div class="msg-item">
                    <div class="msg-item-left">填报人：</div>
                    <div v-text="mSalesStaffName" class="msg-item-right"></div>
                </div><!-- 填报人 -->

                <div class="msg-item">
                    <div class="msg-item-left">区域：</div>
                    <div class="msg-item-right">
                        <ul class="area">
                            <li v-for="(item, index) in regionList"
                                v-text="item.text"
                                @click="selectRegion(item.code, index)"
                                :class="{'area-active': item.code == mRegionCode}"
                            ></li>
                        </ul>
                    </div>
                </div><!-- 省份 -->

                <div class="msg-item">
                    <div class="msg-item-left">客户所在省份：</div>
                    <div class="msg-item-right">
                        <ul class="area">
                            <li v-for="(item, index) in provinceList"
                                v-text="item.text"
                                @click="selectProvince(item.code, item)"
                                :class="{'area-active': item.code == mProvinceCode}"
                            ></li>
                        </ul>
                    </div>
                </div><!-- 区域 -->

                <div class="msg-item">
                    <div class="msg-item-left">客户联系人姓名：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="mContactName"
                                   ref="mContactNameREF"
                                   @blur="formExplain(mContactName, 'mContactNameREF')"
                                   @keyup="formExplain(mContactName, 'mContactNameREF')"
                                   type="text" class="input-group-form">
                        </div>
                    </div>
                </div><!-- 客户联系人姓名 -->

                <div class="msg-item">
                    <div class="msg-item-left">所在部门：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="mDepartmentName"
                                   ref="mDepartmentNameREF"
                                   @blur="formExplain(mDepartmentName, 'mDepartmentNameREF')"
                                   @keyup="formExplain(mDepartmentName, 'mDepartmentNameREF')"
                                   type="text" class="input-group-form">
                        </div>
                    </div>
                </div><!-- 所在部门 -->

                <div class="msg-item">
                    <div class="msg-item-left">头衔：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="mTitle"
                                   ref="mTitleREF"
                                   @blur="formExplain(mTitle, 'mTitleREF')"
                                   @keyup="formExplain(mTitle, 'mTitleREF')"
                                   type="text" class="input-group-form">
                        </div>
                    </div>
                </div><!-- 头衔 -->

                <div class="msg-item">
                    <div class="msg-item-left">联系电话：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="mTelPhone"
                                   ref="mTelPhoneREF"
                                   @blur="formExplain(mTelPhone, 'mTelPhoneREF')"
                                   @keyup="formExplain(mTelPhone, 'mTelPhoneREF')"
                                   type="text" class="input-group-form">
                        </div>
                    </div>
                </div><!-- 联系电话 -->

                <div class="msg-item">
                    <div class="msg-item-left">地址：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="mAddress"
                                   ref="mAddressREF"
                                   @blur="formExplain(mAddress, 'mAddressREF')"
                                   @keyup="formExplain(mAddress, 'mAddressREF')"
                                   type="text" class="input-group-form">
                        </div>
                    </div>
                </div><!-- 邮件 -->

                <div class="msg-item">
                    <div class="msg-item-left">邮件：</div>
                    <div class="msg-item-right">
                        <div class="input-group">
                            <input v-model="mEmail" type="text" class="input-group-form">
                        </div>
                    </div>
                </div><!-- 地址 -->

                <div class="msg-item">
                    <div class="msg-item-left">备注：</div>
                    <div class="msg-item-right">
                        <textarea v-model="mRemark"></textarea>
                    </div>
                </div><!-- 备注 -->

                <div class="msg-item">
                    <div class="msg-item-left"></div>
                    <div class="msg-item-right">
                        <div v-if="!msgSubmit" @click="addMsgConfirmBtn" class="btn btn-theme">提交</div>
                        <div v-if="msgSubmit" @click="editMsgConfirm" class="btn btn-theme">提交</div>
                    </div>
                </div><!-- 按钮 -->
            </div>
        </div>

        <!-- 导入 -->
        <div :class="{'hide': uploadShow}" class="dialog-content upload-pop">
            <div class="title clearfix">
                <p class="pull-left">导入文件</p>
                <p @click="hidePop" class="dialog-close pull-right" ><i class="fa fa-close"></i></p>
            </div>
            <div class="main">
                <div class="select-file">
                    <label for="importFile">选择文件</label>
                    <input id="importFile" type="file">
                </div>
                <div class="btn-group">
                    <div @click="uploadConfirm" class="btn btn-theme">确认</div>
                    <div @click="hidePop" class="btn btn-border">取消</div>
                </div>
            </div>
        </div>

        <!-- 撤回 -->
        <div :class="{'hide': revokeShow}" class="dialog-content-small dispose-pop">
            <div class="title">提示<i @click="hidePop"  class="fa fa-close pull-right"></i></div>
            <div class="content">确定撤回吗 ？</div>
            <div class="foot">
                <div @click="passRevokeBtn('revoke')" class="btn btn-theme">确定</div>
                <div @click="hidePop" class="btn btn-border">取消</div>
            </div>
        </div>

        <!-- 忽略 -->
        <div :class="{'hide': ignoreShow}" class="dialog-content-small dispose-pop">
            <div class="title">提示<i @click="hidePop" class="fa fa-close pull-right"></i></div>
            <div class="content">确定忽略吗 ？</div>
            <div class="foot">
                <div @click="confirmIgnore" class="btn btn-theme">确定</div>
                <div @click="hidePop" class="btn btn-border">取消</div>
            </div>
        </div>

        <!-- 审批 -->
        <div :class="{'hide': disposeShow}" class="dialog-content-small dispose-pop">
            <div class="title">提示<i @click="hidePop"  class="fa fa-close pull-right"></i></div>
            <div class="content">
                <p class="text-left">备注：</p>
                <textarea v-model="disposeRemark" style="width: 100%;"></textarea>
            </div>
            <div class="foot">
                <div @click="passRevokeBtn('pass')" class="btn btn-theme">同意</div>
                <div @click="passRevokeBtn('reject')" class="btn btn-border">驳回</div>
            </div>
        </div>

        <!-- 审核历史 -->
        <div v-if="auditHistoryShow" class="dialog-content audit-history">
            <div class="title clearfix">
                <span>审核记录：   </span><span v-text="auditHistoryTitle"></span>
                <p @click="hidePop" class="dialog-close pull-right" ><i class="fa fa-close"></i></p>
            </div>
            <div class="table-box">
                <table class="i-table">
                    <thead>
                    <tr>
                        <th>创建时间</th>
                        <th>创建人</th>
                        <th>状态</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in auditHistoryList">
                        <td v-text="item.opTime"></td>
                        <td v-text="item.operName"></td>
                        <td v-text="item.auditStatus"></td>
                        <td v-text="item.remark"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- /.dialog-wrap -->
</div><!-- /.main -->

<script src="../static/scripts/client/client.js"></script>