<link rel="stylesheet" href="../static/styles/client/partner.css">

<div id="partner" class="main">
    <div class="breadcrumb">
        <a href="">客户管理</a>
        <span class="line">/</span>
        <span>合作伙伴信息管理</span>
    </div><!-- /.breadcrumb-->

    <div class="table-tab-list clearfix">
        <div :class="{'active': tabActive == 0}" @click="tabBtn(0, 'partner-pass')" class="table-tab-item">客户管理</div>
        <div :class="{'active': tabActive == 4}" @click="tabBtn(4, 'partner-other')" class="table-tab-item">客户信息建立（审批）</div>
        <div :class="{'active': tabActive == 1}" @click="tabBtn(1, 'partner-msg')" class="table-tab-item">客户信息查询</div>
        <div :class="{'active': tabActive == 2}" @click="tabBtn(2, 'engineer')" class="table-tab-item">《工程师资质认证》信息</div>
    </div>

    <div class="screening-condition border-normal clearfix">
        <!--合作伙伴名称   模糊查询
        客户编号         输入框
        区域           下拉框
        省份
        行业
        合作产品
        拥有工程师认证证书-->

        <!--<select-list :selections="selectList" @on-change="select($event)"></select-list>-->
        <!--<select-list :selections="selectList2" @on-change="select2($event)"></select-list>-->

    </div><!-- /.screening-condition -->

    <div class="partner border-normal">
        <div v-if="tabContentShow == 'partner-pass'
                || tabContentShow == 'partner-other'"
             class="partner-box">
            <div class="opera-box clearfix">
                <div v-if="tabContentShow == 'partner-other'"
                     @click="addPartnerBtn('addPartnerPop')"
                     class="btn btn-theme">
                    <i class="fa fa-plus"></i>添加合作伙伴
                </div>
                <div class="pull-right">
                    <i-page :total="pPageTotal"
                            :limit="pageLimit"
                            @on-paging="paging('partner', $event)"></i-page>
                </div>
            </div>
            <table class="i-table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>报备日期</th>
                    <th>销售小组</th>
                    <th>负责销售</th>
                    <th>合作伙伴名称</th>
                    <th>合作伙伴类型</th>
                    <th>业务区域</th>
                    <th>主要合作产品</th>
                    <th>审批状态</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in partnerList"
                    :class="{'tr-active': trActive == index}"
                    @click="clickPartner(item.id, index)">
                    <td v-text="index +1"></td>
                    <td v-text="item.reportDate"></td>
                    <td v-text="item.departmentName"></td>
                    <td v-text="item.salesStaffName"></td>
                    <td v-text="item.name"></td>
                    <td v-text="item.type"></td>
                    <td>
                        <div v-for="region in item.area.businessAreas"
                             v-text="region.text"
                             ></div>
                    </td>
                    <td>
                        <div v-for="product in item.solution"
                             v-text="product.text"></div>
                    </td>
                    <td v-text="item.statusName"></td>
                </tr>
                </tbody>
            </table>
        </div><!-- /. 合伙人信息 -->

        <div v-if="tabContentShow == 'partner-msg'">
            <h1>tab 3</h1>
        </div><!-- 第三个tab -->

        <div v-if="tabContentShow == 'engineer'" class="engineer-box">
            <div class="opera-box">
                <div class="btn btn-theme"><i class="fa fa-plus"></i> 添加合作伙伴《工程师资质认证》</div>
            </div>
            <table class="i-table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>销售小组</th>
                    <th>负责销售</th>
                    <th>合作伙伴名称</th>
                    <th>合作伙伴类型</th>
                    <th>初级知识</th>
                    <th>基础系统</th>
                    <th>项目实施</th>
                    <th>应用开发</th>
                    <th>高级知识</th>
                    <th>编辑</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                </tr>
                </tbody>
            </table>
        </div><!-- /. 工程师 -->
    </div><!-- .上部分表格 -->

    <div v-if="tabContentShow == 'partner-pass'
            || tabContentShow == 'partner-other'"
         class="partner-msg border-normal">
        <div class="opera-box">
            <div class="btn btn-theme"
                 @click="addPartnerBtn('addPartnerMsgPop')"><i class="fa fa-plus"></i> 添加合作伙伴机要信息</div>
        </div>
        <table class="i-table">
            <thead>
            <tr>
                <th>序号</th>
                <th>填报人</th>
                <th>客户所在省份</th>
                <th>姓名</th>
                <th>所在部门</th>
                <th>头衔</th>
                <th>联系电话</th>
                <th>邮件</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in partnerMsgList">
                <td v-text="index +1"></td>
                <td v-text="item.salesStaffName"></td>
                <td v-text="item.province"></td>
                <td v-text="item.contactName"></td>
                <td v-text="item.department"></td>
                <td v-text="item.title"></td>
                <td v-text="item.phone"></td>
                <td v-text="item.email"></td>
                <td><i @click="editBtn('partnerMsg', item.id, item)"
                       class="fa fa-edit i-text-col"
                       style="font-size: 14px; cursor: pointer;"></i></td>
            </tr>
            </tbody>
        </table>
    </div><!-- /.下部分表格 -->


    <!-- /.(添加、编辑) (合作伙伴、机要信息)  -->
    <pop-up :is-show="addAndEdit" @on-close="popUp('addPartnerPop')">
        <div v-if="addPartnerPop" class="title"><p>添加合作伙伴</p></div>
        <div v-if="addPartnerPop" class="pop-main">
            <div class="row-item">
                <div class="inline-block " style="width: 33%;">
                    <span class="key">报备时间：</span>
                    <span class="value" v-text="currentDate"></span></div>
                <div class="inline-block " style="width: 33%;">
                    <span class="key">所在部门：</span>
                    <span class="value" v-text="currentDepartment"></span></div>
                <div class="inline-block " style="width: 33%;">
                    <span class="key">负责销售：</span>
                    <span class="value" v-text="currentUser"></span></div>
            </div><!-- 基本信息 -->

            <div class="row-item">
                <div class="row-item-label">合作伙伴客户名称：</div>
                <div class="row-item-form input-group">
                    <!--<input type="text" class="input-group-form">-->
                    <i-input :verify-msg="'客户名称不能为空'"
                             v-model="pName"></i-input>
                </div>
            </div><!-- 客户名称 -->

            <div class="row-item">
                <div class="row-item-label">区域、省份：</div>
                <div class="row-item-form input-group">
                    <input v-model="regionProvinceText"
                           @click.stop="regionProvinceBtn"
                           type="text" class="input-group-form" readonly="true">
                    <div v-if="regionProvinceIsShow"
                         @click.stop=""
                         class="regionProvince clearfix">
                        <table>
                            <tbody>
                                <tr v-for="item in allProvinceList">
                                    <td v-text="item.region.text"
                                        class="text-left"
                                        style="min-width: 100px;padding: 5px;"></td>
                                    <td>
                                        <i-checkbox :data-list="item.province"
                                                    @on-check="checkboxBtn($event, item.region.code)"></i-checkbox>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<i-checkbox :checkbox-list="regionList"
                                @on-check="checkboxBtn($event, 'region')"></i-checkbox>-->
                </div>
            </div><!-- 区域 -->

            <!--<div class="row-item">
                <div class="row-item-label">城市：</div>
                <div class="row-item-form input-group">
                    <input type="text" class="input-group-form">
                </div>
            </div> 城市 -->

            <div class="row-item">
                <div class="row-item-label">主要业务行业：</div>
                <div class="row-item-form input-group">
                    <multiple-list :data-list="industryList"
                                   v-model="pBusinessIndustry"
                    ></multiple-list>
                </div>
            </div><!-- 行业 -->

            <div class="row-item">
                <div class="row-item-label">主要合作产品：</div>
                <div class="row-item-form input-group">
                    <multiple-list :data-list="solutionList"
                                   v-model="pSolution"
                    ></multiple-list>
                </div>
            </div><!-- 产品 -->

            <div class="row-item">
                <div class="inline-block " style="width: 49%;">
                    <div class="row-item-label" style="width: 30%;">注册资本(万元)：</div>
                    <div class="row-item-form input-group" style="width: 59%;">
                        <input type="text" class="input-group-form">
                    </div>
                </div>
                <div class="inline-block pull-right" style="width: 50%;">
                    <div class="row-item-label text-center" style="width: 35%;">合作伙伴类型：</div>
                    <div class="row-item-form input-group" style="width: 65%;">
                        <select-list :data-list="partnerTypeList"
                                     v-model="pType"></select-list>
                    </div>
                </div>
                <!--<div class="inline-block pull-right" style="width: 35%; margin-right: 20px;">
                    <div class="row-item-label" style="width: 55%;">首次签订合作协议年月：</div>
                    <div class="row-item-form input-group" style="width: 45%;">
                        <input type="text" class="input-group-form">
                    </div>
                </div>-->
            </div><!-- 资本，年月，类型 -->

            <div class="row-item">
                <div class="inline-block" style="width: 23%;">
                    <span class="key">近3年合同额(万元)：</span>
                </div>
                <div class="inline-block" style="width: 25%;">
                    <div class="row-item-label text-right" style="width: 52%;">2018年</div>
                    <div class="row-item-form input-group" style="width: 45%;">
                        <input type="text" class="input-group-form">
                    </div>
                </div>
                <div class="inline-block" style="width: 25%;">
                    <div class="row-item-label text-right" style="width: 52%;">2017年</div>
                    <div class="row-item-form input-group" style="width: 45%;">
                        <input type="text" class="input-group-form">
                    </div>

                </div>
                <div class="inline-block pull-right" style="width: 25%;">
                    <div class="row-item-label text-right" style="width: 52%;">2016年</div>
                    <div class="row-item-form input-group" style="width: 45%;">
                        <input type="text" class="input-group-form">
                    </div>

                </div>

            </div><!-- 近3年 -->

            <div class="row-item">
                <div class="row-item-label">公司案例：</div>
                <div class="row-item-form">
                    <textarea></textarea>
                </div>
            </div><!-- 案例 -->

            <div class="row-item">
                <div class="row-item-label">合作伙伴简介：</div>
                <div class="row-item-form">
                    <textarea></textarea>
                </div>
            </div><!-- 简介 -->

            <div class="row-item">
                <div class="row-item-label">备注：</div>
                <div class="row-item-form">
                    <textarea></textarea>
                </div>
            </div><!-- 备注 -->

        </div><!-- /.pop-main -->


        <div v-if="addPartnerMsgPop" class="title"><p>添加合作伙伴机要信息</p></div>
        <div v-if="addPartnerMsgPop" class="pop-main">
            <div class="row-item">
                <div class="inline-block" style="width: 49%;">
                    <div class="row-item-label" style="width: 35%;">联系人姓名：</div>
                    <div class="row-item-form input-group" style="width: 59%;">
                        <i-input :verify-msg="'联系人不能为空'"
                                 v-model="mContact"></i-input>
                    </div>
                </div>
                <div class="inline-block pull-right" style="width: 50%;">
                    <div class="row-item-label text-right" style="width: 35%;">头衔：</div>
                    <div class="row-item-form input-group" style="width: 59%;">
                        <input v-model="mTitle" type="text" class="input-group-form">
                    </div>
                </div>
            </div><!-- -->
            <div class="row-item">
                <div class="inline-block" style="width: 49%;">
                    <div class="row-item-label" style="width: 35%;">所在部门：</div>
                    <div class="row-item-form input-group" style="width: 59%;">
                        <input v-model="mDepartment" type="text" class="input-group-form">
                    </div>
                </div>
                <div class="inline-block pull-right" style="width: 50%;">
                    <div class="row-item-label text-right" style="width: 35%;">邮件：</div>
                    <div class="row-item-form input-group" style="width: 59%;">
                        <input v-model="mEmail" type="text" class="input-group-form">
                    </div>
                </div>
            </div><!-- -->
            <div class="row-item">
                <div class="inline-block" style="width: 49%;">
                    <div class="row-item-label" style="width: 35%;">手机号码：</div>
                    <div class="row-item-form input-group" style="width: 59%;">
                        <input v-model="mPhone" type="text" class="input-group-form">
                    </div>
                </div>
                <div class="inline-block pull-right" style="width: 50%;">
                    <div class="row-item-label text-right" style="width: 35%;">座机号码：</div>
                    <div class="row-item-form input-group" style="width: 59%;">
                        <input v-model="mTelphone1" type="text" class="input-group-form" style="width: 19% !important;">
                        <span style="color: rgb(221, 222, 225); margin-right: 3px;">-</span>
                        <input v-model="mTelphone2" type="text" class="input-group-form" style="width: 44% !important;">
                        <span style="color: rgb(221, 222, 225); margin-right: 3px;">-</span>
                        <input v-model="mTelphone3" type="text" class="input-group-form" style="width: 23% !important;">

                    </div>
                </div>
            </div><!-- -->

            <div class="row-item">
                <div class="row-item-label">客户区域：</div>
                <div class="row-item-form input-group">
                    <ul class="area">
                        <li v-for="item in regionList"
                            v-text="item.text"
                            @click="clickRegionProvinceBtn(item.code, item.text, 'region')"
                            :class="{'area-active': item.code == mRegionCode}"
                        ></li>
                    </ul>
                </div>
            </div><!-- 客户区域 -->
            <div class="row-item">
                <div class="row-item-label">客户省份：</div>
                <div class="row-item-form input-group">
                    <ul class="area">
                        <li v-for="item in provinceList"
                            v-text="item.text"
                            @click="clickRegionProvinceBtn(item.code, item.text, 'province')"
                            :class="{'area-active': item.code == mProvinceCode}"
                        ></li>
                    </ul>
                </div>
            </div><!-- 客户省份 -->
            <div class="row-item">
                <div class="row-item-label">详细地址：</div>
                <div class="row-item-form input-group">
                    <input v-model="mAddress"
                           type="text" class="input-group-form">
                </div>
            </div><!-- 详细地址 -->

            <div class="row-item">
                <div class="row-item-label">备注：</div>
                <div class="row-item-form">
                    <textarea v-model="mMark"></textarea>
                </div>
            </div><!-- 备注 -->

            <div class="row-item">
                <div class="row-item-form">
                    <div @click="submitBtn('addPartnerMsg')" class="btn btn-theme">提交</div>
                </div>
            </div>
        </div><!-- /.pop-main -->
    </pop-up>


</div><!-- /.end -->
<script src="../static/scripts/client/partner.js"></script>