<link rel="stylesheet" href="../static/styles/manage/manage.css">
<link rel="stylesheet" href="../static/css/base/laydate.css">

<div class="main" id="app">
<div class="breadcrumb">
    <a href="">首页</a>
    <span class="line">/</span>
    <span>管理页</span>
</div>

<div class="search-wrapper clearfix">
    <div class="input-group">
        <span class="input-group-label">客户：</span>
        <div class="autoComplete-wrapper" id="autoCompleteWrapper"></div>
    </div>
    <div class="dropdown-wrap">
        <span class="dropdown-label">行业线：</span>
        <div class="dropdown">
            <span class="dropdown-default">请选择</span>
            <i class="fa fa-angle-down"></i>
            <ul>
                <li @click="searchIndustryLineCode(searchList.code)" v-for="searchList in searchLists.industryLines">{{ searchList.text }}</li>
            </ul>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-label">预计签约时间：</span>
        <div class="i-date-picker-container">
            <div class="date-input-box  icon iconfont icon-cale-a">
                <input v-model="tableList.expectSignDateStart" type="text" id="startDate" class="i-date-picker" data-calendar="true" placeholder="起始时间">
            </div>
        </div>
        至
        <div class="i-date-picker-container">
            <div class="date-input-box  icon iconfont icon-cale-a">
                <input v-model="tableList.expectSignDateEnd" type="text" id="endDate" class="i-date-picker" data-calendar="true" placeholder="结束时间">
            </div>
        </div>
    </div>
    <div class="dropdown-wrap">
        <span class="dropdown-label">成功率：</span>
        <div class="dropdown">
            <span class="dropdown-default">请选择</span>
            <i class="fa fa-angle-down"></i>
            <ul>
                <li @click="searchSuccessRateCode(searchList.code)" v-for="searchList in searchLists.projectSuccessRates" :value="searchList.code">{{ searchList.text }}</li>
            </ul>
        </div>
    </div>
    <div class="dropdown-wrap">
        <span class="dropdown-label">事业部：</span>
        <div class="dropdown">
            <span class="dropdown-default">请选择</span>
            <i class="fa fa-angle-down"></i>
            <ul>
                <!--TODO 如果当前人是领导的话，就用userInfo.mngSalesGroups下面的code和text；否则就用userInfo.departmentCode和userInfo.departmentName-->
                <li @click="searchSalesGroupCode(oauthList.code)" v-for="oauthList in mngSalesGroups" :value="oauthList.code">{{ oauthList.text }}</li>
            </ul>
        </div>
    </div>
    <div class="dropdown-wrap">
        <span class="dropdown-label">区域：</span>
        <div class="dropdown">
            <span class="dropdown-default">请选择</span>
            <i class="fa fa-angle-down"></i>
            <ul>
                <li @click="searchRegionCode(searchList.code)" v-for="searchList in searchLists.regions" :value="searchList.code">{{ searchList.text }}</li>
            </ul>
        </div>
    </div>
    <div class="dropdown-wrap">
        <span class="dropdown-label">客户来源：</span>
        <div class="dropdown">
            <span class="dropdown-default">请选择</span>
            <i class="fa fa-angle-down"></i>
            <ul>
                <li @click="searchCustomerSourceCode(searchList.code)" v-for="searchList in searchLists.customerSours" :value="searchList.code">{{ searchList.text }}</li>
            </ul>
        </div>
    </div>
    <div class="dropdown-wrap">
        <span class="dropdown-label">解决方案：</span>
        <div class="dropdown-zTree">
            <span class="treeName dropdown-default">请选择</span>
            <i class="fa fa-angle-down"></i>
            <ul class="selectTree ztree soSolutionTree" style="max-height: 200px;overflow-y: auto;"></ul>
        </div>
    </div>
    <div class="dropdown-wrap">
        <span class="dropdown-label">近期变更过：</span>
        <div class="dropdown">
            <span class="dropdown-default">请选择</span>
            <i class="fa fa-angle-down"></i>
            <ul>
                <li @click="searchLatelyChangeCode(searchList.code)" v-for="searchList in searchLists.latelyChanges">{{ searchList.text }}</li>
            </ul>
        </div>
    </div>
    <!--<div class="input-group pull-right">-->
        <!--<button class="btn btn-sm btn-theme" style="margin-right: 10px">查询</button>-->
        <!--<button class="btn btn-sm btn-border">重置</button>-->
    <!--</div>-->
</div>

<div class="main-wrapper">
    <div class="data">
        <div class="subInformation">
            <!-- -->
            <button @click="addData" data-toggle="modal" data-target=".myModal" class="btn btn-sm btn-theme modelDomBtn" style="margin-right: 10px">新增 Pipeline</button>
            加权金额总计：<span class="theme-color">{{  weightedSumTotal }}</span>
            <div class="pull-right">
                <div class="client-page page-css">
                    <div @click="calcPage('client' , 'first')"
                         class="page-css-first"><i class="fa fa-angle-double-left"></i></div>
                    <div @click="calcPage('client' , -1)" class="page-css-prev" style="margin-right: 10px;"><i
                            class="fa fa-angle-left"></i></div>
                    <span>第</span><input @keyup.enter="showData" type="text" style="margin: 0 5px;" v-model="clientPageNum"><span>页，</span>
                    <span>共 {{clientPageSum}} 页，</span>
                    <div @click="calcPage('client' , 1)"
                         class="page-css-next"><i class="fa fa-angle-right  "></i></div>
                    <div @click="calcPage('client' , 'last')" class="page-css-last" style="margin-right: 10px;"><i
                            class="fa fa-angle-double-right"></i></div>
                    <span>显示</span>
                    <span style="margin-left: 5px;">{{clientPageStart}}</span>
                    <span>-</span>
                    <span style="margin-right: 5px;">{{clientPageEnd}}</span>
                    <span>条，</span>
                    <span>共&nbsp; {{clientPageTotal}} &nbsp;条</span>
                </div>
            </div>
        </div>
        <div class="table-wrapper" style="height:500px;overflow: auto">
            <div style="width: 3500px">
                <table class="i-table i-table-border">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>操作</th>
                            <th>报备日期</th>
                            <th>销售事业部</th>
                            <th>销售</th>
                            <th>售前</th>
                            <th>区域</th>
                            <th>客服所在省份</th>
                            <th>客户属性</th>
                            <th>客户编号</th>
                            <th>客户名称</th>
                            <th>解决方案名称</th>
                            <th>行业线</th>
                            <th>项目性质</th>
                            <th>合作伙伴名称</th>
                            <th>预计签约金额（万元）</th>
                            <th>预计签约时间</th>
                            <th>项目阶段</th>
                            <th>成功率</th>
                            <th>加权金额 （万元）</th>
                            <th>项目跟进情况</th>
                            <th>确切需要其他部门配合的地方</th>
                            <th>竞争对手</th>
                            <th>客户来源</th>
                            <th>备注-项目名称</th>
                            <th>金融银行分类</th>
                        </tr>
                        </thead>
                        <!--<tbody v-model="empty">-->
                        <!--<tr>-->
                            <!--<td colspan="25" style="height: 48px;">{{ emptyMsg }}</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                        <tbody>
                            <tr v-for="(item, index) in items" @click="showOneChange(item,index)" :class="{'active': (vm.clientPageNum -1) * 10 + (index + 1) == 1} ">
                                <td>{{ (vm.clientPageNum -1) * 10 + (index + 1) }}</td>
                                <td><a @click="handleData(item)" data-toggle="modal" data-target=".myModal" class="modelDomBtn" href="javascript:;"><i class="fa fa-edit"></i></a></td>
                                <td>{{ item.reportDate }}</td>
                                <td>{{ item.salesGroupName }}</td>
                                <td>{{ item.salesStaffName }}</td>
                                <td><div v-for="preSaleStaffs in item.preSaleStaffs">
                                    {{ preSaleStaffs.userName }}
                                </div></td>
                                <td>{{ item.region }}</td>
                                <td>{{ item.province }}</td>
                                <td>{{ item.customerProperties }}</td>
                                <td>{{ item.salesStaffName }}</td>
                                <td>{{ item.customerName }}</td>
                                <td><div v-for="solutionSub in item.solutionSub">
                                    {{ solutionSub.solutionName }}
                                </div></td>
                                <td>{{ item.industryLine }}</td>
                                <td>{{ item.projectNature }}</td>
                                <td>{{ item.cooperativePartner }}</td>
                                <td>
                                    <!--<div v-for="solutionSub in item.solutionSub">-->
                                    {{ addSum(item.solutionSub) }}
                                    <!--{{ solutionSub.expectSignSum }}-->
                                <!--</div>-->
                                </td>
                                <td>{{ item.expectSignDate }}</td>
                                <td>{{ item.progress }}</td>
                                <td>{{ item.successRate }}</td>
                                <td>{{ item.weightedSum }}</td>
                                <td>{{ item.projectFollowUpRemark }}</td>
                                <td>{{ item.othDescription }}</td>
                                <td>{{ item.competitor }}</td>
                                <td>{{ item.customerSource }}</td>
                                <td>{{ item.projectDescription }}</td>
                                <td>{{ item.classificationOfFinancialIndustry }}</td>

                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    <div class="updateCase">
        <div class="title clearfix">
            <span>项目更新情况</span>
            <a class="close pull-right" href=""><i class="fa fa-close"></i></a>
        </div>
        <div class="content">
            <ul class="block">
                <li v-for="changeOneList in changeOneLists">
                    <h4>{{ changeOneList.opTime }}</h4>
                    <p>{{ changeOneList.operName }}{{ changeOneList.opDetail }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="dialog-wrap"
     :class="{'hide': dialogShow}">
    <div @click="allHide" class="dialog-cover"></div>
    <div class="dialog-content" style="width: auto">
        <div class="title clearfix">
            <p v-if="handleTemplate.soCoreCode != null" class="pull-left">修改 Pipeline</p>
            <p v-if="handleTemplate.soCoreCode == null" class="pull-left">新增 Pipeline</p>
            <p @click="allHide" class="dialog-close pull-right" ><i class="fa fa-close"></i></p>
        </div>
        <div class="main">
            <div id="aboutPipeline" class="data-wrapper">
                <div class="wrapper">
                    <div class="main">
                        <form class="clearfix" id="dataSubmit" action="">
                            <input type="hidden" v-model="handleTemplate.soCoreCode" name="soCoreCode">
                            <div class="block-wrapper">
                                <div class="input-group">
                                    <span class="input-group-label">报备日期:</span>
                                    <span v-text="cReportDate" style="line-height: 30px;"></span>
                                </div>
                            </div>
                            <div class="block-wrapper">
                                <div class="dropdown-wrap">
                                    <i class="star">*</i>
                                    <span class="dropdown-label">事业部：</span>
                                    <!--<input type="hidden" id="salesGroupCodee" v-model="handleTemplate.salesGroupCode">-->
                                    <div class="dropdown" :class="{'wrong-border': isnoNull === 1 }" >
                                        <span id="salesGroupCode" ref="salesGroupCode" class="selected dropdown-default">请选择</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul>
                                            <li @click="selectSalesGroupCode(oauthList.code)" v-for="oauthList in mngSalesGroups" :value="oauthList.code">{{ oauthList.text }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="block-wrapper">
                                <div class="input-group">
                                    <i class="star">*</i>
                                    <span class="input-group-label">负责销售:</span>
                                    <!-- v-on:input ="inputFunc"-->
                                    <input v-model="handleTemplate.salesStaffCode" value="" :class="{ 'wrong-border': isnoNull === 2 }" class="input-group-form" type="text">
                                </div>
                            </div>
                            <div class="block-wrapper">
                                <!--TODO  如何获取对象下的数组-->
                                <div class="input-group">
                                    <span class="input-group-label">负责售前:</span>
                                    <!-- ref="preSaleStaffCode" -->
                                    <input v-model="preSaleStaffs.userCode" class="input-group-form" type="text">
                                </div>
                            </div>
                            <div class="block-wrapper col-1">
                                <d0iv class="input-group">
                                    <i class="star">*</i>
                                    <span class="input-group-label">区域:</span>
                                    <ul id="tierFirst" class="item-list radioCheck clearfix">
                                        <li :class="{'active': index == 0}" v-for="(searchList,index) in searchLists.regions" :value="searchList.code" ref="regionCode" :class="handleTemplate.regionCode == searchList.code ? 'active':''">{{ searchList.text }}</li>
                                    </ul>
                                </d0iv>
                            </div>
                            <div class="block-wrapper col-1">
                                <div class="input-group">
                                    <i class="star">*</i>
                                    <span class="input-group-label">客户所在省份:</span>
                                    <ul id="tierSecond" class="item-list radioCheck clearfix">
                                        <li @click="activeProvince(provinceList.code, index)" :class="{'active': index == isActiveProvince}" v-for="(provinceList,index) in provinceLists" :value="provinceList.code" ref="provinceCode">{{ provinceList.text }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block-wrapper col-1">
                                <div class="input-group">
                                    <i class="star">*</i>
                                    <span class="input-group-label">客户属性:</span>
                                    <ul class="item-list radioCheck clearfix">
                                        <li :class="{'active': index == 0}" v-for="(customerName,index) in customerAttr" :class="handleTemplate.regionCode == customerName.code ? 'active':''"  :value="customerName.code" ref="customerPropertiesCode">{{ customerName.text }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block-wrapper col-1">
                                <div class="input-group">
                                    <i class="star">*</i>
                                    <span class="input-group-label">客户名称:</span>
                                    <input v-model="handleTemplate.customerName" :class="{ 'wrong-border': isnoNull === 3 }" class="input-group-form noNull" type="text">
                                </div>
                            </div>
                            <div class="block-wrapper col-1">
                                <div class="dropdown-wrap">
                                    <span class="dropdown-label">解决方案：</span>
                                    <div class="dropdown-zTree">
                                        <span id="addTreeName" class="dropdown-default">请选择</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="handleTree ztree soSolutionTree" style="max-height: 200px;overflow-y: auto;"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="block-wrapper">
                                <div class="dropdown-wrap">
                                    <i class="star">*</i>
                                    <span class="dropdown-label">行业线：</span>
                                    <div class="dropdown noNull" :class="{ 'wrong-border': isnoNull === 5 }">
                                        <span id="industryLineCode" ref="industryLineCode" class="selected dropdown-default">请选择</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul>
                                            <li @click="selectIndustryLineCode(searchList.code)" v-for="searchList in searchLists.industryLines" :value="searchList.code">{{ searchList.text }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="block-wrapper col-1">
                                    <div class="input-group">
                                        <i class="star">*</i>
                                        <span class="input-group-label">项目性质:</span>
                                        <ul class="item-list radioCheck clearfix">
                                            <li :class="{'active': index == 0}" v-for="(searchList,index) in searchLists.projectNatures" :value="searchList.code"  ref="projectNatureCode">{{ searchList.text }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="block-wrapper col-1">
                                    <div class="input-group">
                                        <span class="input-group-label">合作伙伴:</span>
                                        <input v-model="handleTemplate.cooperativePartner" class="input-group-form" type="text">
                                    </div>
                                </div>
                                <div class="block-wrapper">
                                    <!--TODO  如何获取对象下的数组-->
                                    <div class="input-group">
                                        <i class="star">*</i>
                                        <span class="input-group-label" style="width: auto">预计签约金额（万元）:</span>
                                        <input v-model="solutionSub.expectSignSum" :class="{ 'wrong-border': isnoNull === 6 }" class="input-group-form noNull" type="text" style="text-align: right">
                                    </div>
                                </div>
                                <div class="block-wrapper">
                                    <!--TODO  时间格式不对-->
                                    <div class="input-group">
                                        <span class="input-group-label">预计签约时间：</span>
                                        <div class="i-date-picker-container">
                                            <div class="date-input-box  icon iconfont icon-cale-a">
                                                <input v-model="handleTemplate.expectSignDate" type="text" id="signDate" class="i-date-picker" data-calendar="true" placeholder="结束时间">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-wrapper">
                                    <div class="dropdown-wrap">
                                        <i class="star">*</i>
                                        <span class="dropdown-label">成功率：</span>
                                        <div class="dropdown noNull" :class="{ 'wrong-border': isnoNull === 7 }">
                                            <span id="successRateCode" ref="successRateCode" class="selected dropdown-default">请选择</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul>
                                                <li @click="selectSuccessRateCode(searchList.code)" v-for="searchList in searchLists.projectSuccessRates" :value="searchList.code">{{ searchList.text }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-wrapper">
                                    <div class="dropdown-wrap">
                                        <i class="star">*</i>
                                        <span class="dropdown-label">项目阶段：</span>
                                        <div class="dropdown noNull" :class="{ 'wrong-border': isnoNull === 8 }">
                                            <span id="progressCode" ref="progressCode" class="selected dropdown-default">请选择</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul>
                                                <li @click="selectProgressCode(searchList.code)" v-for="searchList in searchLists.progresss" :value="searchList.code">{{ searchList.text }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-wrapper">
                                    <div class="dropdown-wrap">
                                        <span class="dropdown-label">客户来源：</span>
                                        <div class="dropdown">
                                            <span id="customerSourceCode" ref="customerSourceCode" class="selected dropdown-default">请选择</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul>
                                                <li @click="selectCustomerSourceCode(searchList.code)" v-for="searchList in searchLists.customerSours" :value="searchList.code">{{ searchList.text }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-wrapper">
                                    <div class="input-group">
                                        <span class="input-group-label">金融银行分类:</span>
                                        <input v-model="handleTemplate.classificationOfFinancialIndustry" class="input-group-form" type="text">
                                    </div>
                                </div>
                                <div class="block-wrapper col-1">
                                    <div class="input-group" style="display: block;">
                                        <span class="input-group-label">项目跟进情况:</span>
                                        <div>
                                       <textarea v-model="handleTemplate.projectFollowUpRemark" class="input-group-form" style="display: block"
                                                 placeholder="请详细的描述您申请该项资源的使用场景，内容包括但不限于该资源用于什么类型的应用，以及对该资源的具体需求如执行单元数量、内存大小等。"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-wrapper col-1">
                                    <div class="input-group" style="display: block;">
                                        <span class="input-group-label" style="width: auto">需要其他部门配合的地方:</span>
                                        <div>
                                        <textarea v-model="handleTemplate.othDescription" class="input-group-form" style="display: block"
                                                  placeholder="请详细的描述您申请该项资源的使用场景，内容包括但不限于该资源用于什么类型的应用，以及对该资源的具体需求如执行单元数量、内存大小等。"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-wrapper col-1">
                                    <div class="input-group">
                                        <span class="input-group-label">竞争对手:</span>
                                        <input v-model="handleTemplate.competitor" class="input-group-form" type="text">
                                    </div>
                                </div>
                                <div class="block-wrapper col-1">
                                    <div class="input-group">
                                        <span class="input-group-label">备注-项目名称:</span>
                                        <input v-model="handleTemplate.projectDescription" class="input-group-form" type="text">
                                    </div>
                                </div>
                                <div class="block-wrapper">
                                    <div class="input-group">
                                        <span class="input-group-label"></span>
                                        <button @click="submitHandle" class="btn btn-sm btn-theme" type="button">提交</button>
                                    </div>
                        </form>
                    </div>
                    <div class="explain">
                        <div class="title clearfix">
                            <span>项目更新情况</span>
                            <a class="theme-color pull-right" href="">清空配置</a>
                        </div>
                        <div class="content">
                            <div>区域：<span>华北-北京</span></div>
                            <div>成功率：<span> 100%，90% </span></div>
                            <p class="tips">温馨提示:功率从10%50%。客户所在省份从广东省调整为云南省。 预计签约金额从2018年1月调整到2019年2月。</p>
                        </div>
                    </div>
                </div>
                <div v-if="handleTemplate.soCoreCode != null" class="historyLog">
                    <input id="checkLog" class="hide" type="checkbox">
                    <label for="checkLog" class="head">历史变更信息<i class="fa fa-chevron-down"></i></label>
                    <div class="content">
                        <div>
                            <span class="theme-color" style="margin-right: 15px"> 变更记录</span>
                            最近一次变更时间在：<span class="theme-color">2018-03-05 09:20</span>
                            <div class="pull-right" style="display: none">这里是分页</div>
                        </div>
                        <table class="i-table i-table-border">
                            <thead>
                            <tr>
                                <th>操作人</th>
                                <th>操作时间</th>
                                <th>操作明细</th>
                                <th>操作类型</th>
                                <th>自定义字段1</th>
                                <th>自定义字段2</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="changeList in changeLists">
                                <td>{{ changeList.operName }}</td>
                                <td>{{ changeList.opTime }}</td>
                                <td>{{ changeList.opDetail }}</td>
                                <td>{{ changeList.opType }}</td>
                                <td>{{ changeList.ext1 }}</td>
                                <td>{{ changeList.ext2 }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- /.main -->
    </div>
</div>
</div>
<!--<script src="../static/js/laydate/laydate.js"></script>-->
<script src="../static/scripts/manage/manage.js"></script>
<script>
    $.ajaxSettings.async = true;
    $(document).ready(function() {
        // 时间
        laydate.render({
            elem: '#startDate' //指定元素
            ,type: 'month'
        });
        // 时间
        laydate.render({
            elem: '#endDate' //指定元素
            ,type: 'month'
        });
        // 预计签约时间
        laydate.render({
            elem: '#signDate' //指定元素

        });

    })
    //zTree
    var setting = {
        data: {
            key: {
                title: "t"
            },
            simpleData: {
                enable: true
            }
        },
        callback: {
            beforeClick: beforeClick,
            onClick: onClick
        }
    };
    // 解决方案书树形结构内容
    var zNodes = [];
    // =[
    //     { id:3,  pId:0, name:"郁闷的父节点", t:"别点我，我好害怕...我的子节点随便点吧...", open:true, click:false },
    //     { id:31, pId:3, name:"叶子节点3 - 1", t:"唉，随便点我吧"},
    //     { id:32, pId:3, name:"叶子节点3 - 2", t:"唉，随便点我吧"},
    //     { id:33, pId:3, name:"叶子节点3 - 3", t:"唉，随便点我吧"}
    // ];
    var treeName = '';

    function beforeClick(treeId, treeNode, clickFlag) {
        return (treeNode.click != false);
    }

    function onClick(event, treeId, treeNode, clickFlag) {
        vm.solutionSub.solutionCode = '';
        if($(event.currentTarget).hasClass('selectTree')){
            $('.treeName').text(treeNode.name);
            //搜索的时候传解决方案名称code
            vm.tableList.soSolutionCode = treeNode.id;
            vm.showData();
        }else{
            // $('#addTreeName').text('');

            $('#addTreeName').text(treeNode.name);
            //新增/修改的时候传解决方案code
            vm.solutionSub.solutionCode = treeNode.id;
        }

        // console.log("[onClick ]&nbsp;&nbsp;clickFlag = " + clickFlag + " (" + (clickFlag===1 ? "普通选中": (clickFlag===0 ? "<b>取消选中</b>" : "<b>追加选中</b>")) + ")");
        event.stopPropagation();
    }
</script>
<script>
    var vm = new Vue({
        el: '#app',
        data: function(){
            return {
                customerAttr: [],  // 客户属性
                customerLists: [],     // 客户信息
                provinceLists: [], // 客户所在省份
                searchLists: [{   // 初始值基本信息
                    latelyChanges: '',  // 近期变更过
                    industryLines: ''   // 行业线
                }],
                oauthLists: [], // 初始值权限信息
                mngSalesGroups: [],
                weightedSumTotal: '',  // 加权金额
                items: [],   // 表格数据
                empty: false, // 搜索不到数据
                emptyMsg: '',
                // 分页
                client: [],
                clientPageTotal: 0,// 全部数据
                clientPageNum: 1,// 当前页
                clientPageSum: 1,// 共多少页
                clientPageMost: 10,// 页容量
                clientPageStart: 0,
                clientPageEnd: 0,

                opDataKey: '',  //	查询Pipeline变动历史  操作DATA主键
                changeOneLists: [], //
                tableList: {},  //存放搜索值
                // 添加模板
                handleTemplate: {},
                changeLists: [],  // 变动历史
                isnoNull: 0,
                isActive: 0,
                isModal: false,
                mngSalesGroupsList: [],
                showModal: false,
                salesStaffCode: '',
                salesGroupCode: '',
                isClicked: false, // 是否点击table的tr
                isActiveProvince: -1,
                // 添加
                cReportDate: timeYear,// 报备时间
                cSalesGroupCode: '', // 事业部
                csuccessRateCode: '', // 成功率


                preSaleStaffs: [], // 点击修改时获取表格的值
                solutionSub: [], // 点击修改时获取表格的值

                // 显示弹窗
                dialogShow: true,
                addMsgShow: true,
            }
        },
        watch: {
            handleTemplate: {
                handler: function () {
                },
                deep: true
            }
        },
        mounted: function(){
            this.customerData();
            this.searchCustomer();
            this.searchData();
            this.showData();
            this.showChange();
        },
        methods: {
            // 加权金额相加
            addSum: function(sumList){
                var sum = 0;
                for(var i = 0;i < sumList.length;i++){
                    sum += parseFloat(sumList[i].expectSignSum)
                }
                // console.log(sum);
                return sum;
            },

            //// ==========搜索获取下拉code========
            // 选中行业线
            searchIndustryLineCode: function(code) {
                this.tableList.industryLineCode = code;

                this.showData();
            },
            // 选中成功率
            searchSuccessRateCode: function(code) {
                this.tableList.successRateCode = code;

                this.showData();
            },
            // 选中事业部
            searchSalesGroupCode: function(code) {
                this.tableList.salesGroupCode = code;

                this.showData();
            },
            // 选中区域
            searchRegionCode: function(code) {
                this.tableList.regionCode = code;

                this.showData();
            },
            // 选中客户来源
            searchCustomerSourceCode: function(code) {
                this.tableList.customerSourceCode = code;

                this.showData();
            },
            // 选中近期变更过
            searchLatelyChangeCode: function(code) {
                this.tableList.latelyChangeCode = code;

                this.showData();
            },

            //// ==========添加获取code========
            // 选中事业部
            selectSalesGroupCode: function(code) {
                this.handleTemplate.salesGroupCode = code;
            },
            // 选中行业线
            selectIndustryLineCode: function(code) {
                this.handleTemplate.industryLineCode = code;
            },
            // 选中成功率
            selectSuccessRateCode: function(code) {
                this.handleTemplate.successRateCode = code;
            },
            // 选中项目阶段
            selectProgressCode: function(code) {
                this.handleTemplate.progressCode = code;
            },
            // 选中客户来源
            selectCustomerSourceCode: function(code) {
                this.handleTemplate.customerSourceCode = code;
            },
            addClient: function () {
                vm.dialogShow = false;
            },
            addMsg: function () {
                vm.dialogShow = false;
                vm.addMsgShow = false;
            },
            allHide: function () {
                vm.dialogShow =     true;
                vm.addMsgShow =     true;
            },
            activeProvince: function(code,index){
                this.isActiveProvince = index;

                this.handleTemplate.provinceCode = code;
            },
            // focusNone: function() {
            //     this.isnoNull = 0
            // },
            // 获取客户属性
            customerData: function(){
                $.ajax({
                    url: 'http://172.16.8.34:8089/iboss-prism/basic/queryDictDataByCategory',
                    type: 'get',
                    dataType: 'json',
                    data: {
                         categoryCodes: 'customerAttr'
                    },
                    success: function(result){
                        // console.log(result.msg.customerAttr)
                        this.customerAttr = result.msg.customerAttr;

                    },
                    error: function(result) {
                        console.log(' 请求失败');
                    }
                })
            },
            // 搜索客户信息
            searchCustomer: function(){
                $.ajax({
                    url: 'http://172.16.8.34:8089/iboss-prism/crm/queryCustomerList',
                    // url: 'http://rapapi.org/mockjsdata/32344/crm/queryCustomer',
                    //  url: 'manage/queryCustomer.json',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        'name': name
                    },
                    success: function(result){
                        // console.log(result);
                        var root = result.root,
                            array = new Array(),codeArr = new Array();
                        for(var i = 0;i < root.length;i++){
                            array.push(root[i].customerName);
                            codeArr.push(root[i].customerCode);
                        }
                        $('#autoCompleteWrapper').autocomplete({
                            hints: array,
                            codeval:codeArr,
                            showButton: false,
                            width: 200,
                            height: 30,
                            onSubmit: function(code){
                                vm.tableList.customerCode = code
                                vm.showData()
                            }
                        });
                    },
                    error: function(result) {
                        console.log('搜索客户信息请求失败');
                    }
                })
            },
            // 单人查看变动历史
            showOneChange: function(item,index) {
                // 点击tr的时候，给它添加'active'
                $("tr:eq("+ (index + 1) +")").addClass('active').siblings().removeClass('active');

                this.isClicked = 1; // 显示右侧项目更新情况
                vm.changeOneLists = []
                // console.log(item.soCoreCode)
                $.ajax({
                    url: 'http://172.16.8.34:8089/iboss-prism/so/queryPipelineChangeHis',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        'opDataKey': item.soCoreCode
                    },
                    success: function(result){
                        // console.log(result);
                        for(var i = 0;i < result.root.length;i++){
                            var root = result.root[i];
                            vm.changeOneLists.push(root);
                        }
                    },
                    error: function(){
                        console.log('查看单人变动历史 请求失败');
                    }
                })
            },
            // 表格查询
            showData: function(){
                this.tableList.page = parseInt(this.clientPageNum);
                this.tableList.limit = 10;
                // console.log(this.tableList)
                this.items = []
                $.ajax({
                    url: 'http://172.16.8.34:8089/iboss-prism/so/queryPipeline',
                    // url:'manage/queryPipeline.json',
                    type: 'get',
                    dataType: 'json',
                    data: this.tableList,
                    success: function(result){
                        // console.log(result);
                        vm.weightedSumTotal = result.oth.weightedSumTotal;

                        // 点击tr，
                        for(var i = 0;i < result.root.length;i++){
                            var root = result.root[i];
                            if(i == 0){
                                vm.showOneChange(root);
                            }
                            vm.items.push(root);
                        }

                        vm.client = result;
                        vm.clientPageTotal = result.totalProperty;
                        vm.clientPageSum = Math.ceil(vm.clientPageTotal / vm.clientPageMost)
                        vm.clientPageStart = (vm.clientPageNum -1) * vm.clientPageMost + 1;

                        if (vm.clientPageNum === vm.clientPageSum) {
                            vm.clientPageEnd = vm.clientPageTotal;
                            return;
                        }
                        vm.clientPageEnd = vm.clientPageStart - 1 + vm.clientPageMost;
                    },
                    error: function(result) {
                        console.log('表格查询请求失败');
                    }
                })
            },
            // 分页
            calcPage: function (type, num) {
                type === 'client' ? vm.clientPage(type, num) : vm.msgPage(type, num);
            },// calcPage
            clientPage: function (type, num) {
                switch(num)
                {
                    case 'first':
                        vm.clientPageNum = 1;
                        vm.showData();
                        break;
                    case 'last':
                        vm.clientPageNum = vm.clientPageSum;
                        vm.clientPageEnd = vm.clientPageTotal;
                        vm.showData();
                        // console.log(vm.clientPageTotal)
                        // console.log(vm.clientPageEnd)
                        break;
                    case 1:
                        if(vm.clientPageNum >= vm.clientPageSum)  return;
                        vm.clientPageNum++;
                        vm.showData();
                        break;
                    case -1:
                        if(vm.clientPageNum <= 1)  return;
                        vm.clientPageNum--;
                        vm.showData();
                        break;

                }
            },
            // 搜索框赋值
            searchData: function(){
                var basic,
                    oauth;
                $.ajax({
                    url: 'http://172.16.8.34:8089/iboss-prism/so/queryPipelineInitVal',
                    // url: 'manage/queryPipelineInitVal.json',
                    type: 'get',
                    dataType: 'json',
                    success: function(result){
                        basic = result.msg.basic;
                        oauth = result.msg.oauth;
                        if(result !== null){
                            if(basic !== null){
                                vm.searchLists = basic;
                            }
                            if(oauth !== null){
                                vm.oauthLists = oauth;
                                vm.mngSalesGroups = vm.oauthLists.userInfo.mngSalesGroups;
                            }
                        }
                        var treeList = basic.soSolution4Tree;
                        if(treeList != null) {
                            for(var i = 0;i < treeList.length;i++) {
                                var pObj = {
                                    id: treeList[i].id, pId: treeList[i].parentId, name: treeList[i].text,open:true, click:false
                                }
                                zNodes.push(pObj);
                                if(treeList[i].children != null) {
                                    for(var j = 0;j < treeList[i].children.length;j++) {
                                        var cObj = {
                                            id:treeList[i].children[j].id, pId: treeList[i].children[j].parentId, name: treeList[i].children[j].text
                                        };
                                        zNodes.push(cObj);
                                    }
                                }
                            }
                        }
                        // console.log(zNodes);
                        $.fn.zTree.init($(".soSolutionTree"), setting, zNodes);

                        // 获取客户所在省份
                        var regions = '';
                        for(var i = 0;i < basic.regions.length;i++) {
                            regions += basic.regions[i].code + ',';
                            // console.log(basic.regions[i])
                        }
                        // console.log(regions)  // 取得所有区域code
                        $.ajax({
                            url: 'http://172.16.8.34:8089/iboss-prism/basic/queryDictDataByCategory',
                            type: 'get',
                            dataType: 'json',
                            data: {
                                'categoryCodes': regions
                            },
                            success: function(result){
                                // console.log(result.msg)
                                vm.provinceLists = eval('result.msg.' + $('#tierFirst li').eq(0).attr('value'))

                                $('#tierFirst li').click(function(){
                                    var code = $(this).attr('value');
                                    // console.log(code)  // 获取到每个点击li的code值

                                    // console.log(eval('result.msg.' + code))
                                    vm.provinceLists = [];
                                    vm.provinceLists = eval('result.msg.' + code)
                                })

                            },
                            error:function(){
                                console.log("获取客户所在省份请求失败")
                            }
                        })
                        // vm.customerProvinceData();
                    },
                    error: function(result) {
                        console.log('搜索请求失败');
                    }
                })
            },
            // 新增
            addData: function() {
                vm.dialogShow = false;
                $('.selected').text('请选择');
                $('#addTreeName').text('请选择');

                vm.handleTemplate = {}
                vm.preSaleStaffs = []
                vm.solutionSub = []

                $('.radioCheck').each(function() {
                    var li = $(this).children('li');
                    li.click(function () {
                        $(this).addClass('active');
                        $(this).siblings().removeClass("active");
                    })
                })
            },
            // 修改
            handleData: function(item){
                vm.dialogShow = false;

                // 已获取销售code
                // console.log(item.soCoreCode)

                $('.radioCheck li').click(function () {
                    $(this).addClass('active');
                    $(this).siblings().removeClass("active");
                })
                $.ajax({
                    url: 'http://172.16.8.34:8089/iboss-prism/so/queryPipelineOne',
                    // url: 'manage/queryPipelineOne.json',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        'soCoreCode': item.soCoreCode
                    },
                    success: function(result){

                        vm.handleTemplate = result.msg
                        // console.log(vm.handleTemplate);

                        if(vm.handleTemplate.preSaleStaffs) {
                            for(var i = 0;i< vm.handleTemplate.preSaleStaffs.length;i++){
                                vm.preSaleStaffs = vm.handleTemplate.preSaleStaffs[i]
                                // console.log(vm.preSaleStaffs.userCode);
                            }
                        }
                        if(vm.handleTemplate.solutionSub) {
                            for(var i = 0;i< vm.handleTemplate.solutionSub.length;i++){
                                vm.solutionSub = vm.handleTemplate.solutionSub[i]
                            }
                        }

                        // 遍历修改接口数组中的数据，并赋值给下拉框
                        var userInfo = vm.oauthLists.userInfo;
                        if(userInfo != null) {
                            //销售小组
                            if(userInfo.mngSalesGroups != null) {
                                for(var i = 0;i<userInfo.mngSalesGroups.length;i++){
                                    // console.log(userInfo.mngSalesGroups[i].code);
                                    // console.log(vm.handleTemplate.salesGroupCode);
                                    if(userInfo.mngSalesGroups[i].code == vm.handleTemplate.salesGroupCode){
                                        $("#salesGroupCode").text(userInfo.mngSalesGroups[i].text);
                                    }
                                }
                            }
                        }
                        // 行业线
                        if(vm.searchLists.industryLines != null) {
                            for(var i = 0;i<vm.searchLists.industryLines.length;i++){
                                if(vm.searchLists.industryLines[i].code == vm.handleTemplate.industryLineCode){
                                    $("#industryLineCode").text(vm.searchLists.industryLines[i].text);
                                }
                            }
                        }
                        // 成功率
                        if(vm.searchLists.projectSuccessRates != null) {
                            for(var i = 0;i<vm.searchLists.projectSuccessRates.length;i++){
                                if(vm.searchLists.projectSuccessRates[i].code == vm.handleTemplate.successRateCode){
                                    $("#successRateCode").text(vm.searchLists.projectSuccessRates[i].text);
                                }
                            }
                        }
                        // 项目阶段
                        if(vm.searchLists.progresss != null) {
                            for(var i = 0;i<vm.searchLists.progresss.length;i++){
                                if(vm.searchLists.progresss[i].code == vm.handleTemplate.progressCode){
                                    $("#progressCode").text(vm.searchLists.progresss[i].text);
                                }
                            }
                        }
                        // 客户来源
                        if(vm.searchLists.customerSours != null) {
                            for(var i = 0;i<vm.searchLists.customerSours.length;i++){
                                if(vm.searchLists.customerSours[i].code == vm.handleTemplate.customerSourceCode){
                                    $("#customerSourceCode").text(vm.searchLists.customerSours[i].text);
                                }
                            }
                        }


                        vm.handleTemplate = {}
                        vm.preSaleStaffs = []
                        vm.solutionSub = []
                    },
                    error: function(){
                        console.log('修改信息 请求失败');
                    }
                })
            },
            // 添加修改提交
            submitHandle: function(addObj){
                var addObj = {
                    reportDate:         vm.cReportDate
                }
                for(key in addObj){
                    if (addObj[key] === '') {
                        console.log(key)
                    }
                }

                if($(this.$refs.regionCode).hasClass('active')){
                    vm.handleTemplate.regionCode = $(this.$refs.regionCode).attr('value') // 区域
                }
                if($(this.$refs.provinceCode).hasClass('active')){
                    vm.handleTemplate.provinceCode = $(this.$refs.provinceCode).attr('value') // 所在省份
                }
                if($(this.$refs.customerPropertiesCode).hasClass('active')){
                    vm.handleTemplate.customerPropertiesCode = $(this.$refs.customerPropertiesCode).attr('value') // 客户属性
                }
                if($(this.$refs.projectNatureCode).hasClass('active')){
                    vm.handleTemplate.projectNatureCode = $(this.$refs.projectNatureCode).attr('value') // 项目性质
                }

                var  preSaleStaffList = [], // 点击修改时获取表格的值
                    solutionSubList = []; // 点击修改时获取表格的值

                preSaleStaffList.push({
                    'userCode': vm.preSaleStaffs.userCode
                })

                solutionSubList.push({
                    'solutionCode': vm.solutionSub.solutionCode,
                    'expectSignSum': vm.solutionSub.expectSignSum
                })

                //TODO 数组下对象未修改完成

                vm.handleTemplate.preSaleStaffs = JSON.stringify(preSaleStaffList);
                vm.handleTemplate.solutionSub = JSON.stringify(solutionSubList);

                // vm.handleTemplate.preSaleStaffs = JSON.stringify(preSaleStaffList)
                // vm.handleTemplate.solutionSub = JSON.stringify(solutionSubList)
                console.log(vm.handleTemplate)
                var paramm = $.param(vm.handleTemplate)
                console.log(paramm)

                $.ajax({
                    url: 'http://172.16.8.34:8089/iboss-prism/so/addOrUpdatePipeline',
                    // url: 'manage/addOrUpdatePipeline.json',
                    type: 'get',
                    data: paramm,
                    dataType: 'json',
                    success: function(result){
                        if(result.success){
                            vm.dialogShow = true;
                            vm.handleTemplate = {};  // 还原模板
                            vm.showData() // 再调用表格查询
                        }else {
                            alert(result.msg);
                        }
                    },
                    error: function(){
                        console.log('提交 请求失败');
                    }
                })
            },
            //查看变动历史
            showChange: function(){
                $.ajax({
                    url: 'http://172.16.8.34:8089/iboss-prism/so/queryPipelineChangeHis',
                    type: 'get',
                    dataType: 'json',
                    success: function(result){
                        // console.log(result);
                        for(var i = 0;i < result.root.length;i++){
                            var root = result.root[i];
                            vm.changeLists.push(root);
                        }
                    },
                    error: function(){
                        console.log('查看变动历史 请求失败');
                    }
                })
            }
        }
    })
</script>




