.main{
	.card{
		position: relative;
		margin-top: 10px;
		padding: 10px;
		background-color: #ffffff;
		&:first-child{
			margin-top: 0;
		}

		.search{
			display: inline-block;
			vertical-align: middle;
		}
	}// card
}