.main{
  .year{
    background-color: #fff;

    .year-opera{
      padding: 5px;
      border-bottom: 1px solid #E9EAEC;
      .year-half{
        span{
          display: inline-block;
          padding: 0 10px;
          border-bottom: 2px solid transparent;
          line-height: 30px;
          cursor: pointer;
        }

        .year-half-active{
          border-color: #FF8A41;
        }
      }
      

      .year-whole{

      }
    }// year-opera

    .year-table{
      padding: 10px;
    }
  }// year

  .quarter{

  }// quarter
}// main