.main{
  .year,.quarter{
    background-color: #FFFFFF;
  }

  .year{
    margin-bottom: 20px;
    .year-opera{
      padding: 10px;
      border-bottom: 1px solid #E9EAEC;
    }

    .year-chart{

    }

    .year-table{
      padding: 10px;
      .click-half-complete{
        cursor: pointer;
        text-decoration: underline;
        :hover{
          color: #F78937;
        }
      }
    }
  }// year

  .quarter{
    padding: 10px;
    table{
      tbody tr td:nth-child(6),
      th:nth-child(6){
        border-left: 2px solid #F0F2F5;
      }

    }
  }
}// end
