@charset "utf-8";
.main{

  .year-contrast,
  .quarter-contrast{
    background-color: #FFFFFF;
    padding: 10px;
    table{
      thead{
        tr{
          th:nth-child(5),
          th:nth-child(6){
            color: #ED6D00;
          }
          th:nth-child(5){
            border-left: 2px solid #F0F2F5;
          }
        }
      }
      tbody{
        tr{
          td:nth-child(5),
          td:nth-child(6){
            color: #ED6D00;
          }
          td:nth-child(5){
            border-left: 2px solid #F0F2F5;
          }
        }

      }
    }

    .operas{
      padding: 5px;
      border-bottom: 1px solid #E9EAEC;
      .operas-list{
        display: inline-block;
        span{
          display: inline-block;
          padding: 0 10px;
          border-bottom: 2px solid transparent;
          line-height: 30px;
          cursor: pointer;
          &:hover{
            color: #FF8A41;
          }
        }
        .active{
          border-color: #FF8A41;
          color: #FF8A41;
        }
      }

    }// operas

    .table-tab-list{
      position: relative;
      top: 1px;
      left: 1px;

      .table-tab-item{
        float: left;
        line-height: 20px;
        padding: 5px 20px;
        border: 1px solid #E6E7E9;
        border-bottom: none;
        border-radius: 4px 4px 0 0;
        transition: .2s;
        cursor: pointer;
        &:hover{
          color: #ED6D00;
        }
      }

      .table-tab-item:not(:first-child){
        margin-left: -1px;
      }
      .active{
        border-color: #ED6D00;
        background-color: #ED6D00;
        color: #FFFFFF !important;
        position: relative;
        z-index: 1;
      }


    }// table-tabs
  }// year + quarter

  // 上部分
  .year-contrast{
    margin-bottom: 20px;
  }


  // 下部分
  .quarter-contrast{
    .operas{
      >div{
        margin-right: 50px;
      }
    }
  }


}// .main