@charset "utf-8";
.main{

  .operas-box,
  .year-contrast,
  .quarter-contrast{
    background-color: #FFFFFF;
    padding: 10px;

    .operas{
      padding-bottom: 10px;
      border-bottom: 1px solid #E9EAEC;
    }
    table{
      thead{
        tr{
          th:nth-child(5),
          th:nth-child(6){
            color: #ED6D00;
          }
          th:nth-child(5){
            border-left: 2px solid #F0F2F5;
          }
        }
      }
      tbody{
        tr{
          td:nth-child(5),
          td:nth-child(6){
            color: #ED6D00;
          }
          td:nth-child(5){
            border-left: 2px solid #F0F2F5;
          }
        }

      }
    }


    .year-table{
      padding-top: 10px;
      tbody>tr>td:nth-child(5)>span{
        text-decoration: underline;
        padding: 10px;
        cursor: pointer;
      }
    }

    .quarter-table{
      padding-top: 10px;
    }
  }// year + quarter

  // 上部分
  .year-contrast{
    margin-bottom: 20px;
  }


  // 下部分
  .quarter-contrast{
    .operas{
      >div{
        margin-right: 50px;
      }
    }
  }


  // 增长额详情弹窗
  .dialog-wrap{
    .pop-main{
      .i-table{
        tbody{
          tr{
            div{
              margin: 5px 0;
            }
          }

        }
      }
    }
  }



}// .main

