<link rel="stylesheet" href="../static/styles/analyze/four.css">

<div class="main" id="four">
    <div class="breadcrumb">
        <span>Pipeline分析</span>
        <span class="line">/</span>
        <span>合同额完成情况（销售）</span>
    </div><!-- /.breadcrumb-->

    <div class="top">
        <div class="top-opera">

            <div class="selection-wrap" style="margin-right: 20px;">
                <div class="selection-label">预计签约年度:</div>
                <div @click.stop="changeSelectionList(1)"
                     v-text="selectionDefaultText_1"
                     :class="{active: selectionIsShow_1}"
                     class="selection-show fa"></div>
                <div v-if="selectionIsShow_1" style="left: 97px;" class="selection-list">
                    <ul>
                        <li @click="clickItem(item, 1)"
                            v-for="item in yearRange"
                            v-text="item"></li>
                    </ul>
                </div>
            </div>

            <div v-if="userLevel == 'dqxyh'" class="selection-wrap">
                <div class="selection-label">部门:</div>
                <div @click.stop="changeSelectionList(2)"
                     v-text="selectionDefaultText_2"
                     :class="{active: selectionIsShow_2}"
                     class="selection-show fa"></div>
                <div v-if="selectionIsShow_2" style="left: 45px;" class="selection-list">
                    <ul>
                        <li @click="clickItem(item, 2)"
                            v-for="item in saleGroupList"
                            v-text="item.text"></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.top-opera -->

        <div class="top-table">
            <p>销售个人全年合同额进度（单位：万元）</p>
            <table class="i-table">
                <thead>
                    <tr>
                        <th v-text="yearTitle.saleGroup"></th>
                        <th v-text="yearTitle.saleStaff"></th>
                        <th v-text="yearTitle.target"></th>
                        <th>
                            <div :class="{'sort-th-div': userLevel !== 'xs'}"
                                 @click="completeAmount">
                                <span v-text="yearTitle.complete"></span>
                                <i v-if="userLevel !== 'xs'"
                                   :class="[amountClass]"></i>
                            </div>
                        </th>
                        <th v-text="yearTitle.difference"></th>
                        <th>
                            <div :class="{'sort-th-div': userLevel !== 'xs'}"
                                 @click="completeRate">
                                <span v-text="yearTitle.rate"></span>
                                <i v-if="userLevel !== 'xs'"
                                   :class="[rateClass]"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in yearList">
                        <td v-text="item.saleGroup"></td>
                        <td v-text="item.saleStaff"></td>
                        <td v-text="item.target"></td>
                        <td v-text="item.complete"></td>
                        <td v-text="item.difference"></td>
                        <td v-text="item.rate">

                        </td>
                    </tr>
                    <tr class="sum-foot"
                        v-if="userLevel !== 'xs'">
                        <td  colspan="2">合计</td>
                        <td v-for="item in yearSum" v-text="item"></td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.top-table -->
    </div><!-- /.top -->

    <div class="bottom">
        <div class="year-half">
            <span @click="halfToggle(1)" :class="{'year-half-active': isActive == 1}" class="year-half-first">上半年</span>
            <span @click="halfToggle(2)" :class="{'year-half-active': isActive == 2}" class="year-half-last">下半年</span>
        </div>
        <div class="table-content">
            <p>销售个人季度合同额进度（单位：万元）</p>
            <table class="i-table">
                <thead>
                    <tr>
                        <th v-text="half.title.saleGroup"></th>
                        <th v-text="half.title.saleStaff"></th>
                        <th v-text="half.title.hTarget"></th>
                        <th>
                            <div :class="{'sort-th-div': userLevel !== 'xs'}"
                                 @click="completeAmount">
                                <span v-text="half.title.hComplete"></span>
                                <i v-if="userLevel !== 'xs'"
                                   :class="[amountClass]"></i>
                            </div>
                        </th>
                        <th v-text="half.title.hDifference"></th>
                        <th>
                            <div :class="{'sort-th-div': userLevel !== 'xs'}"
                                 @click="completeRate">
                                <span v-text="half.title.hRate"></span>
                                <i v-if="userLevel !== 'xs'"
                                   :class="[rateClass]"></i>
                            </div>
                        </th>
                        <th v-text="half.title.q1Target" class="table-left-border"></th>
                        <th v-text="half.title.q1Complete"></th>
                        <th v-text="half.title.q2Target"></th>
                        <th v-text="half.title.q2Complete"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in half.list">
                        <td v-text="item.saleGroup"></td>
                        <td v-text="item.saleStaff"></td>
                        <td v-text="item.hTarget"></td>
                        <td v-text="item.hComplete"></td>
                        <td v-text="item.hDifference"></td>
                        <td v-text="item.hRate"></td>
                        <td v-text="item.q1Target" class="table-left-border"></td>
                        <td v-text="item.q1Complete"></td>
                        <td v-text="item.q2Target"></td>
                        <td v-text="item.q2Complete"></td>
                    </tr>
                    <tr class="sum-foot"
                        v-if="userLevel !== 'xs'">
                        <td  colspan="2">合计</td>
                        <td v-for="item in half.sum" v-text="item"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- /.bottom -->
</div><!-- /.main -->


<script src="../static/scripts/analyze/four.js"></script>