<link rel="stylesheet" href="../static/styles/analyze/one.css">

<div class="main">
    <div class="breadcrumb">
        <span>首页</span>
        <span class="line">/</span>
        <span>Pipeline分析</span>
        <span class="line">/</span>
        <span>签约额统计汇总</span>
    </div><!-- /.breadcrumb-->

    <div class="year">
        <div class="year-opera clearfix">
            <div class="year-half pull-left">
                <span id="yearHalfFirst" class="year-half-first year-half-active">上半年</span>
                <span id="yearHalfLast" class="year-half-last">下半年</span>
            </div>
            <div class="year-whole pull-right">
                <div class="dropdown-wrap">
                    <span class="dropdown-label">预计签约年度:</span>
                    <div class="dropdown">
                        <span class="dropdown-default">2018</span>
                        <i class="fa fa-angle-down"></i>
                        <ul>
                            <li>2013</li>
                            <li>2014</li>
                            <li>2015</li>
                            <li>2016</li>
                            <li>2017</li>
                            <li>2018</li>
                            <li>2019</li>
                            <li>2020</li>
                            <li>2021</li>
                            <li>2022</li>
                        </ul>
                    </div>
                </div>


                <!--<div class="selection-wrap">-->
                    <!--<div class="selection-label">预计签约年度:</div>-->
                    <!--<div @click="changeSelectionList($event)"-->
                         <!--v-text="selectionDefaultText"-->
                         <!--:class="{active: selectionIsShow}"-->
                         <!--class="selection-show fa"></div>-->
                    <!--<div v-if="selectionIsShow" style="left: 97px;" class="selection-list">-->
                        <!--<ul>-->
                            <!--<li @click="clickItem(item, $event)"-->
                                <!--v-for="item in yearRange"-->
                                <!--v-text="item"></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div><!-- /.year-opera -->

        <div class="year-chart">
            <div id="halfYearChart" style="width: 99%; height: 400px;"></div>
        </div><!-- /.year-chart -->

        <div class="year-table">
            <h5 style="padding: 10px 0;">(单位：万元)</h5>
            <table class="i-table i-table-border">
                <thead>
                    <tr>
                        <th>{{title.saleGroup}}</th>
                        <th>{{title.target}}</th>
                        <th>{{title.complete}}</th>
                        <th>{{title.difference}}</th>
                        <th>{{title.scale}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in list">
                        <td>{{item.saleGroup}}</td>
                        <td>{{item.target}}</td>
                        <td>{{item.complete}}</td>
                        <td>{{item.difference}}</td>
                        <td>{{item.scale}}</td>
                    </tr>
                    <tr>
                        <td>{{foot.saleGroup}}</td>
                        <td>{{foot.target}}</td>
                        <td>{{foot.complete}}</td>
                        <td>{{foot.difference}}</td>
                        <td>{{foot.scale}}</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.year-table -->
    </div><!-- /.year -->

    <div class="quarter" id="quarterTable">
        <h5 style="padding: 10px 0;">(单位：万元)</h5>

        <div class="quarter-list clearfix">
            <div v-for="(val, key, index) in Q"
                 :class="{active: key == isActive}"
                 @click="Qevent(index)"
                 class="quarter-item">{{key}}</div>
        </div>

        <table class="i-table i-table-border">
            <thead>
                <tr>
                    <th>{{head.saleGroup}}</th>
                    <th>{{head.target}}</th>
                    <th>{{head.complete}}</th>
                    <th>{{head.difference}}</th>
                    <th>{{head.scale}}</th>
                    <th>{{head.m1Target}}</th>
                    <th>{{head.m2Complete}}</th>
                    <th>{{head.m2Target}}</th>
                    <th>{{head.m2Complete}}</th>
                    <th>{{head.m3Target}}</th>
                    <th>{{head.m3Complete}}</th>
                </tr>
            </thead>
            <tobdy>
                <tr v-for="item in list">
                    <td>{{item.saleGroup}}</td>
                    <td>{{item.target}}</td>
                    <td>{{item.complete}}</td>
                    <td>{{item.difference}}</td>
                    <td>{{item.scale}}</td>
                    <td>{{item.m1Target}}</td>
                    <td>{{item.m1Complete}}</td>
                    <td>{{item.m2Target}}</td>
                    <td>{{item.m2Complete}}</td>
                    <td>{{item.m3Target}}</td>
                    <td>{{item.m3Complete}}</td>
                </tr>
                <tr>
                    <td>{{foot.saleGroup}}</td>
                    <td>{{foot.target}}</td>
                    <td>{{foot.complete}}</td>
                    <td>{{foot.difference}}</td>
                    <td>{{foot.scale}}</td>
                    <td>{{foot.m1}}</td>
                    <td>{{foot.c1}}</td>
                    <td>{{foot.m2}}</td>
                    <td>{{foot.c2}}</td>
                    <td>{{foot.m3}}</td>
                    <td>{{foot.c3}}</td>
                </tr>
            </tobdy>
        </table>
    </div><!-- /.quarter -->
</div><!-- /.main -->

<script src="../static/scripts/analyze/one.js"></script>