<link rel="stylesheet" href="../static/styles/analyze/signStatistics.css">

<div class="main" id="signStatistics" @click="mainClick">
    <div class="breadcrumb">
        <span>Pipeline分析</span>
        <span class="line">/</span>
        <span>合同完成额情况（部门）</span>
    </div><!-- /.breadcrumb-->

    <div class="year">
        <div class="year-opera clearfix">
            <div class="chart-tab-list pull-left">
                <span @click="changeHalfYear(1)" :class="{'active': halfYearActive ==1}">上半年</span>
                <span @click="changeHalfYear(2)" :class="{'active': halfYearActive ==2}">下半年</span>
            </div>
            <div class="pull-right">
                <div class="selection-wrap">
                    <div class="selection-label">预计签约年度:</div>
                        <div @click="changeSelectionList($event)"
                             v-text="selectionDefaultText"
                             :class="{active: selectionIsShow}"
                             class="selection-show fa"></div>
                    <div v-if="selectionIsShow" style="left: 97px;" class="selection-list">
                        <ul>
                            <li @click="clickItem(item, $event)"
                                v-for="item in yearRange"
                                v-text="item"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /.year-opera -->

        <div class="year-chart">
            <div id="halfYearChart" style="width: 99%;height: 400px;"></div>
        </div>

        <div class="year-table">
            <h5 style="padding: 10px 0;">(单位：万元)</h5>
            <table class="i-table i-table-border">
                <thead>
                    <tr>
                        <th v-text="year.head.saleGroup"></th>
                        <th v-text="year.head.yearTarget"></th>
                        <th v-text="year.head.target"></th>
                        <th v-text="year.head.complete"></th>
                        <th v-text="year.head.difference"></th>
                        <th v-text="year.head.scale"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in year.body">
                        <td v-text="item.saleGroup"></td>
                        <td v-text="item.yearTarget"></td>
                        <td v-text="item.target"></td>
                        <td><span v-text="item.complete"
                                  @click="popUp('half', item)"
                                  class="click-half-complete"></span></td>
                        <td v-text="item.difference"></td>
                        <td v-text="item.scale"></td>
                    </tr>

                    <tr class="sum-foot">
                        <td v-text="year.foot.saleGroup"></td>
                        <td v-text="year.foot.yearTarget"></td>
                        <td v-text="year.foot.target"></td>
                        <td v-text="year.foot.complete"></td>
                        <td v-text="year.foot.difference"></td>
                        <td v-text="year.foot.scale"></td>
                    </tr>
                </tbody>
            </table>
        </div><!-- /.year-table -->
    </div><!-- /.year -->

    <div class="quarter">
        <h5 style="padding: 10px 0;">(单位：万元)</h5>

        <div class="table-tab-list clearfix">
            <div @click="changeQuarter(0)" :class="{'active': quarterTabActive == 0}" class="table-tab-item">
                Q1</div>
            <div @click="changeQuarter(1)" :class="{'active': quarterTabActive == 1}" class="table-tab-item">
                Q2</div>
            <div @click="changeQuarter(2)" :class="{'active': quarterTabActive == 2}" class="table-tab-item">
                Q3</div>
            <div @click="changeQuarter(3)" :class="{'active': quarterTabActive == 3}" class="table-tab-item">
                Q4</div>
        </div>

        <table class="i-table i-table-border">
            <thead>
            <tr>
                <th>{{quarter.head.saleGroup}}</th>
                <th>{{quarter.head.target}}</th>
                <th>{{quarter.head.complete}}</th>
                <th>{{quarter.head.difference}}</th>
                <th>{{quarter.head.scale}}</th>
                <th>{{quarter.head.m1Target}}</th>
                <th>{{quarter.head.m1Complete}}</th>
                <th>{{quarter.head.m2Target}}</th>
                <th>{{quarter.head.m2Complete}}</th>
                <th>{{quarter.head.m3Target}}</th>
                <th>{{quarter.head.m3Complete}}</th>
            </tr>
            </thead>
            <tobdy>
                <tr v-for="item in quarter.body">
                    <td v-text="item.saleGroup"></td>
                    <td v-text="item.target"></td>
                    <td v-text="item.complete"></td>
                    <td v-text="item.difference"></td>
                    <td v-text="item.scale"></td>
                    <td v-text="item.m1Target"></td>
                    <td v-text="item.m1Complete"></td>
                    <td v-text="item.m2Target"></td>
                    <td v-text="item.m2Complete"></td>
                    <td v-text="item.m3Target"></td>
                    <td v-text="item.m3Complete"></td>
                </tr>
                <tr class="sum-foot">
                    <td>{{quarter.foot.saleGroup}}</td>
                    <td>{{quarter.foot.target}}</td>
                    <td>{{quarter.foot.complete}}</td>
                    <td>{{quarter.foot.difference}}</td>
                    <td>{{quarter.foot.scale}}</td>
                    <td>{{quarter.foot.m1}}</td>
                    <td>{{quarter.foot.c1}}</td>
                    <td>{{quarter.foot.m2}}</td>
                    <td>{{quarter.foot.c2}}</td>
                    <td>{{quarter.foot.m3}}</td>
                    <td>{{quarter.foot.c3}}</td>
                </tr>
            </tobdy>
        </table>
    </div><!-- /.quarter -->

    <pop-up :is-show="halfCompleteIsShow"  @on-close="popUpClose('halfComplete')" width="80%">
        <div class="title"><p>签约合同情况</p></div>
        <div class="pop-main">
            <p style="padding: 10px 0;">签约合同(万元)：
                <span v-text="popHalfCompleteData.oth.totalSum" style="color:#ED6D00"></span></p>
            <table class="i-table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>销售部门</th>
                        <th>销售</th>
                        <th>签约时间</th>
                        <th>客户名称</th>
                        <th>最终客户</th>
                        <th>项目名称</th>
                        <th>行业线</th>
                        <th>客户来源</th>
                        <th>签约金额</th>
                    </tr>
                </thead>
                <tobdy>
                    <tr v-for="(item, index) in popHalfCompleteData.root">
                        <td v-text="index +1" style="min-width: 50px;"></td>
                        <td v-text="item.salesGroup" style="min-width: 120px;"></td>
                        <td v-text="item.salesStaff" style="min-width: 100px;"></td>
                        <td v-text="item.signTime"></td>
                        <td v-text="item.customerName"></td>
                        <td v-text="item.finalCustomer"></td>
                        <td v-text="item.projectName"></td>
                        <td v-text="item.industryLine" style="min-width: 100px;"></td>
                        <td v-text="item.customerSource" style="min-width: 100px;"></td>
                        <td v-text="item.signSum" style="min-width: 100px;"></td>
                    </tr>
                </tobdy>
            </table>
        </div>
    </pop-up>
</div><!-- /.main -->

<script src="../static/scripts/analyze/signStatistics.js"></script>