<link rel="stylesheet" href="../static/styles/analyze/two.css">


<div class="main" id="app">
    <div class="breadcrumb">
        <span>首页</span>
        <span class="line">/</span>
        <span>Pipeline分析</span>
        <span class="line">/</span>
        <span>加权平均额周期对比</span>
    </div><!-- /.breadcrumb-->

    <div class="year-contrast">
        <div class="operas clearfix">
            <div class="operas-list pull-left">
                <span class="active">上半年</span>
                <span class="">下半年</span>
            </div>
            <div class="pull-right">
                <div class="dropdown-wrap">
                    <span class="dropdown-label">预计签约年度:</span>
                    <div class="dropdown">
                        <span class="dropdown-default">2018</span>
                        <i class="fa fa-angle-down"></i>
                        <ul>
                            <li>2013</li>
                            <li>2014</li>
                            <li>2015</li>
                            <li>2016</li>
                            <li>2017</li>
                            <li>2018</li>
                            <li>2019</li>
                            <li>2020</li>
                            <li>2021</li>
                            <li>2022</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /.year-opera -->

        <div class="year-chart" id="yearChart" style="width: 99%; height: 400px;"></div><!-- /.year-chart -->

        <div class="year-table">
            <div class="table-tab-list clearfix">
                <div class="table-tab-item active">10%  -  100%</div>
                <div class="table-tab-item">30%  -  100%</div>
            </div>
            <table class="i-table i-table-border">
                <thead>
                    <tr>
                        <th>销售事业部</th>
                        <th>加权平均额(日期范围1)</th>
                        <th>加权平均额(日期范围2)</th>
                        <th>H1目标</th>
                        <th>增长额</th>
                        <th>增长率</th>
                    </tr>
                </thead>
                <tobdy>
                    <tr v-for="item in list">
                        <td>{{item.complete}}</td>
                        <td>{{item.difference}}</td>
                        <td>{{item.scale}}</td>
                        <td>{{item.m1Target}}</td>
                        <td>{{item.m2Target}}</td>
                        <td>{{item.m2Complete}}</td>
                    </tr>
                    <tr>
                        <td>{{foot.saleGroup}}</td>
                        <td>{{foot.target}}</td>
                        <td>{{foot.complete}}</td>
                        <td>{{foot.difference}}</td>
                        <td>{{foot.m1}}</td>
                        <td>{{foot.c1}}</td>
                    </tr>
                </tobdy>
            </table>
        </div><!-- /.year-table -->
    </div><!-- /.year-contrast -->


    <div class="quarter-contrast">
        <div class="operas clearfix">
            <div class="operas-list">
                <span class="active">Q1</span>
                <span class="">Q2</span>
                <span class="">Q3</span>
                <span class="">Q4</span>
            </div>

            <div class="input-group">
                <span class="input-group-label ">截止日期1</span>
                <input v-model="dateOne"
                       @click="rangeBlur(1)"
                       id="dateOne"
                       class="input-group-form i-date-form-range"
                       placeholder="请选择截止日期"
                       readonly
                       type="text">
            </div>

            <div class="input-group">
                <span class="input-group-label ">截止日期2</span>
                <input v-model="dateTwo"
                       @click="rangeBlur(2)"
                       id="dateTwo"
                       class="input-group-form i-date-form-range"
                       placeholder="请选择截止日期"
                       readonly
                       type="text">
            </div>
        </div><!-- /.year-opera -->

        <div class="quarter-chart" id="quarterChart" style="width: 99%; height: 400px;"></div><!-- /.quarter-chart -->

        <div class="quarter-table">
            <div class="table-tab-list clearfix">
                <div class="table-tab-item active">10%  -  100%</div>
                <div class="table-tab-item">30%  -  100%</div>
            </div>

            <table class="i-table i-table-border">
                <thead>
                <tr>
                    <th>销售事业部</th>
                    <th>加权平均额(日期范围1)</th>
                    <th>加权平均额(日期范围2)</th>
                    <th>H1目标</th>
                    <th>增长额</th>
                    <th>增长率</th>
                </tr>
                </thead>
                <tobdy>
                    <tr v-for="item in list">
                        <td>{{item.complete}}</td>
                        <td>{{item.difference}}</td>
                        <td>{{item.scale}}</td>
                        <td>{{item.m1Target}}</td>
                        <td>{{item.m2Target}}</td>
                        <td>{{item.m2Complete}}</td>
                    </tr>
                    <tr>
                        <td>{{foot.saleGroup}}</td>
                        <td>{{foot.target}}</td>
                        <td>{{foot.complete}}</td>
                        <td>{{foot.difference}}</td>
                        <td>{{foot.m1}}</td>
                        <td>{{foot.c1}}</td>
                    </tr>
                </tobdy>
            </table>
        </div><!-- /.quarter-table -->

    </div><!-- /.quarter-contrast -->
</div><!-- /.main -->


<script src="../static/scripts/analyze/two.js"></script>