<link rel="stylesheet" href="../static/styles/analyze/weightCycle.css">


<div class="main" id="weightCycle" @click="mainClick">
    <div class="breadcrumb">
        <span>首页</span>
        <span class="line">/</span>
        <span>Pipeline分析</span>
        <span class="line">/</span>
        <span>加权平均额周期对比</span>
    </div><!-- /.breadcrumb-->

    <div class="year-contrast">
        <div class="operas clearfix">
            <div class="operas-list pull-left">
                <span @click="changeYearDate(1)" :class="{active: currentHalfYearActive == 1}">上半年</span>
                <span @click="changeYearDate(2)" :class="{active: currentHalfYearActive == 2}">上半年</span>
            </div>

            <div class="pull-right">
                <!--<div class="dropdown-wrap">-->
                    <!--<span class="dropdown-label">预计签约年度:</span>-->
                    <!--<div class="dropdown">-->
                        <!--<span class="dropdown-default">2018</span>-->
                        <!--<i class="fa fa-angle-down"></i>-->
                        <!--<ul>-->
                            <!--<li>2013</li>-->
                            <!--<li>2014</li>-->
                            <!--<li>2015</li>-->
                            <!--<li>2016</li>-->
                            <!--<li>2017</li>-->
                            <!--<li>2018</li>-->
                            <!--<li>2019</li>-->
                            <!--<li>2020</li>-->
                            <!--<li>2021</li>-->
                            <!--<li>2022</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="selection-wrap">
                    <div class="selection-label">预计签约年度:</div>
                    <div @click="changeSelectionList($event)"
                         v-text="selectionDefaultText"
                         :class="{active: selectionIsShow}"
                         class="selection-show fa"></div>
                    <div v-if="selectionIsShow" style="left: 97px;" class="selection-list">
                        <ul>
                            <li @click="clickItem(item, $event)"
                                v-for="item in yearRange"
                                v-text="item"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /.year-opera -->

        <div class="year-chart" id="yearChart" style="width: 99%; height: 400px;"></div><!-- /.year-chart -->

        <div class="year-table">
            <div class="table-tab-list clearfix">
                <div v-for="(item, index) in yearTableTitle"
                     v-text="item.text"
                     :class="{active: index == yearTabActiveIndex}"
                     @click="changeYearTab(index)"
                     class="table-tab-item"></div>
            </div>
            <table class="i-table i-table-border">
                <thead>
                    <tr>
                        <th v-text="yearTable.head.unit"></th>
                        <th v-text="yearTable.head.bz"></th>
                        <th v-text="yearTable.head.sz"></th>
                        <th v-text="yearTable.head.target"></th>
                        <th v-text="yearTable.head.compareSzRise"></th>
                        <th v-text="yearTable.head.compareSzRate"></th>
                    </tr>
                </thead>
                <tobdy>
                    <tr v-for="item in yearTable.body">
                        <td v-text="item.unit"></td>
                        <td v-text="item.bz"></td>
                        <td v-text="item.sz"></td>
                        <td v-text="item.target"></td>
                        <td v-text="item.compareSzRise"></td>
                        <td v-text="item.compareSzRate"></td>
                    </tr>
                    <tr>
                        <td v-text="yearTable.foot.unit"></td>
                        <td v-text="yearTable.foot.bz"></td>
                        <td v-text="yearTable.foot.sz"></td>
                        <td v-text="yearTable.foot.target"></td>
                        <td v-text="yearTable.foot.compareSzRise"></td>
                        <td v-text="yearTable.foot.compareSzRate"></td>
                    </tr>
                </tobdy>
            </table>
        </div><!-- /.year-table -->
    </div><!-- /.year-contrast -->


    <div class="quarter-contrast">
        <div class="operas clearfix">
            <div class="operas-list">
                <span v-for="(item, index) in quarterTabList"
                      v-text="item"
                      @click="changeQuarterData(index)"
                      :class="{active: index+1 == currentQuarterActive}"></span>
            </div>

            <div class="input-group">
                <span class="input-group-label ">日期范围1</span>
                <input
                       id="dateOne"
                       class="input-group-form i-date-form-range"
                       placeholder="请选择日期范围"
                       type="text">
            </div>

            <div class="input-group">
                <span class="input-group-label ">日期范围2</span>
                <input
                       id="dateTwo"
                       class="input-group-form i-date-form-range"
                       placeholder="请选择日期范围"
                       type="text">
            </div>
        </div><!-- /.year-opera -->

        <div class="quarter-chart" id="quarterChart" style="width: 99%; height: 400px;"></div><!-- /.quarter-chart -->

        <div class="quarter-table">
            <div class="table-tab-list clearfix">
                <div v-for="(item, index) in quarterTableTitle"
                     v-text="item.text"
                     :class="{active: index == quarterTabActiveIndex}"
                     @click="changeQuarterTab(index)"
                     class="table-tab-item"></div>
            </div>

            <table class="i-table i-table-border">
                <thead>
                    <tr>
                        <th v-text="quarterTable.head.unit"></th>
                        <th v-text="quarterTable.head.bz"></th>
                        <th v-text="quarterTable.head.sz"></th>
                        <th v-text="quarterTable.head.target"></th>
                        <th v-text="quarterTable.head.compareSzRise"></th>
                        <th v-text="quarterTable.head.compareSzRate"></th>
                    </tr>
                </thead>
                <tobdy>
                    <tr v-for="item in quarterTable.body">
                        <td v-text="item.unit"></td>
                        <td v-text="item.bz"></td>
                        <td v-text="item.sz"></td>
                        <td v-text="item.target"></td>
                        <td v-text="item.compareSzRise"></td>
                        <td v-text="item.compareSzRate"></td>
                    </tr>
                    <tr>
                        <td v-text="quarterTable.foot.unit"></td>
                        <td v-text="quarterTable.foot.bz"></td>
                        <td v-text="quarterTable.foot.sz"></td>
                        <td v-text="quarterTable.foot.target"></td>
                        <td v-text="quarterTable.foot.compareSzRise"></td>
                        <td v-text="quarterTable.foot.compareSzRate"></td>
                    </tr>
                </tobdy>
            </table>
        </div><!-- /.quarter-table -->

    </div><!-- /.quarter-contrast -->

</div><!-- /.main -->
<script src="../static/scripts/analyze/weightCycle.js"></script>