.search-wrapper,
.main-wrapper {
  background-color: #fff;
  border-radius: 2px; }

.search-wrapper {
  padding: 15px 20px;
  padding-bottom: 0;
  margin-bottom: 10px;
  position: relative; }
  .search-wrapper .dropdown-wrap,
  .search-wrapper .input-group {
    margin-bottom: 15px; }
  .search-wrapper .i-date-picker-container .date-input-box > input {
    width: 100px; }

.main-wrapper {
  padding: 15px;
  position: relative; }
  .main-wrapper .data {
    width: calc(100% - 250px);
    transition: width .3s; }
    .main-wrapper .data .table-wrapper {
      margin-top: 15px;
      position: relative; }
      .main-wrapper .data .table-wrapper th,
      .main-wrapper .data .table-wrapper td {
        min-width: 45px;
        padding-top: 12px;
        padding-bottom: 12px; }
      .main-wrapper .data .table-wrapper tbody tr:hover {
        background-color: #fdf0e5 !important; }
      .main-wrapper .data .table-wrapper tbody tr:active, .main-wrapper .data .table-wrapper tbody tr.active {
        background-color: #fad3b2 !important; }
      .main-wrapper .data .table-wrapper tbody tr td {
        max-width: 250px;
        word-break: break-all; }
      .main-wrapper .data .table-wrapper .fa {
        color: #ed6d00; }
  .main-wrapper .maxWidth {
    width: 100%; }
  .main-wrapper .updateCase {
    position: absolute;
    right: 15px;
    top: 15px;
    bottom: 15px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    width: 240px;
    margin-left: 10px; }
    .main-wrapper .updateCase .title {
      border-bottom: 1px solid #c9c9c9;
      line-height: 45px;
      color: #696969;
      margin: 0 5px; }
      .main-wrapper .updateCase .title .close {
        padding: 0 5px; }
        .main-wrapper .updateCase .title .close i {
          color: #c9c9c9; }
    .main-wrapper .updateCase .content {
      height: calc(100% - 45px);
      padding: 10px 0;
      overflow-x: hidden;
      word-break: break-all; }
      .main-wrapper .updateCase .content .block li {
        padding: 15px 5px; }
        .main-wrapper .updateCase .content .block li h4 {
          font-size: 14px;
          margin-bottom: 10px; }
        .main-wrapper .updateCase .content .block li p {
          color: #a0a0a0; }

.data-wrapper {
  width: 1010px; }
  .data-wrapper .wrapper {
    position: relative; }
    .data-wrapper .wrapper .main {
      width: calc(100% - 260px);
      padding: 0; }
      .data-wrapper .wrapper .main .block-wrapper {
        width: 50%;
        float: left;
        margin-bottom: 15px; }
      .data-wrapper .wrapper .main .dropdown-wrap,
      .data-wrapper .wrapper .main .input-group {
        display: table; }
      .data-wrapper .wrapper .main .input-group-label,
      .data-wrapper .wrapper .main .dropdown-label {
        width: 120px; }
      .data-wrapper .wrapper .main .input-group-label,
      .data-wrapper .wrapper .main .dropdown-label,
      .data-wrapper .wrapper .main .dropdown,
      .data-wrapper .wrapper .main .input-group-form,
      .data-wrapper .wrapper .main .item-list {
        display: table-cell;
        vertical-align: top; }
      .data-wrapper .wrapper .main .input-group .item-list li {
        padding: 4px 15px;
        float: left;
        color: #242424;
        cursor: pointer; }
      .data-wrapper .wrapper .main .input-group .item-list .active {
        background-color: #fad3b2; }
      .data-wrapper .wrapper .main .col-1 {
        width: 100%; }
      .data-wrapper .wrapper .main textarea {
        width: 100%;
        min-height: 80px; }
    .data-wrapper .wrapper .explain {
      position: absolute;
      right: 0;
      top: 0;
      background-color: #fff;
      border: 1px solid #c9c9c9;
      width: 240px;
      margin-left: 10px; }
      .data-wrapper .wrapper .explain .title {
        border-bottom: 1px solid #c9c9c9;
        color: #696969; }
      .data-wrapper .wrapper .explain .content {
        padding: 15px 5px;
        color: #1e1e1e; }
        .data-wrapper .wrapper .explain .content .tips {
          color: #f7a259;
          margin-top: 20px; }
  .data-wrapper .historyLog {
    padding-top: 15px; }
    .data-wrapper .historyLog :checked ~ .head .fa {
      transform: rotate(180deg); }
    .data-wrapper .historyLog :checked ~ .content {
      max-height: 500px; }
    .data-wrapper .historyLog .head {
      display: block;
      text-align: center;
      margin-bottom: 30px;
      padding-bottom: 15px;
      border-bottom: 1px dashed #d9d9d9;
      color: #8c8c8c;
      cursor: pointer; }
      .data-wrapper .historyLog .head .fa {
        color: #8c8c8c;
        margin-left: 10px;
        transition: all .25s; }
    .data-wrapper .historyLog .content {
      max-height: 0;
      overflow: hidden;
      transition: max-height .4s; }
      .data-wrapper .historyLog .content .i-table {
        margin-top: 15px; }
        .data-wrapper .historyLog .content .i-table thead {
          background-color: #fad3b2;
          color: #242424; }
        .data-wrapper .historyLog .content .i-table td {
          color: #8c8c8c; }
        .data-wrapper .historyLog .content .i-table .dark {
          color: #242424; }

.opera > div {
  float: left; }
.opera > div:not(:last-child) {
  margin-right: 10px; }

.client {
  margin-top: 15px; }
  .client .table-opera {
    margin-bottom: 15px; }
  .client .i-table {
    margin-bottom: 20px; }
    .client .i-table tbody tr td:nth-child(5),
    .client .i-table tbody tr td:nth-child(7) {
      text-align: left; }

.upload-pop {
  min-width: 400px;
  width: 400px;
  height: 210px; }
  .upload-pop .main {
    padding: 20px 40px; }
    .upload-pop .main .select-file {
      position: relative;
      overflow: hidden;
      border: 1px solid #DDDEE1;
      border-radius: 4px; }
      .upload-pop .main .select-file label {
        position: absolute;
        background-color: #fff;
        display: inline-block;
        padding: 3px 10px;
        cursor: pointer;
        border-right: 1px solid #DDDEE1;
        transition: .2s; }
        .upload-pop .main .select-file label:hover {
          color: #ED6D00; }
      .upload-pop .main .select-file input {
        margin-bottom: 1px;
        font-size: 14px; }
    .upload-pop .main .btn-group {
      margin-top: 60px;
      text-align: right; }

.star {
  color: #ff0000;
  position: absolute;
  margin-top: 6px; }

.i-table thead {
  background-color: #ed6d00;
  color: #fff; }

.autoComplete-wrapper {
  display: inline-block;
  vertical-align: middle; }

.dropdown-wrap .dropdown-zTree > ul {
  display: none;
  position: absolute;
  left: 0px;
  z-index: 1;
  cursor: pointer; }
  .dropdown-wrap .dropdown-zTree > ul li {
    padding: 0 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .dropdown-wrap .dropdown-zTree > ul li:hover {
      background-color: transparent; }
  .dropdown-wrap .dropdown-zTree > ul .li-checkbox {
    display: none; }

/*# sourceMappingURL=manage.css.map */
