

.search-wrapper,
.main-wrapper {
  background-color: #fff;
  border-radius: 2px;
}

.search-wrapper {
  padding: 15px 20px;
  padding-bottom: 0;
  margin-bottom: 10px;
  position: relative;

    :checked ~.drowicon {
      .fa {
        transform: rotate(180deg);
      }
    }
    :checked ~ .content {
      max-height: 500px;
    }

    .drowicon {
      z-index: 2;
      display: inline-block;
      text-align: center;
      color: #8c8c8c;
      cursor: pointer;
      position: absolute;right: 80px;top: 20px;
      .fa {
        color: #8c8c8c;
        margin-left: 10px;
        transition: all .25s;
      }
    }
    .content {
      max-height: 45px;
      //overflow: hidden;
      transition: max-height .4s;
    }

  .dropdown-wrap,
  .input-group {
    margin-bottom: 15px;
  }

  .i-date-picker-container .date-input-box > input{
    width: 100px;
  }
}

.main-wrapper {
  padding: 15px;
  position: relative;

  .data {
    width: calc(100% - 250px);
    transition: width .3s;

    .table-wrapper {
      margin-top: 15px;
      position: relative;
      //background: url("../../images/watermark.png") repeat left top;

      th,
      td {
        min-width: 45px ;
        padding-top: 12px;
        padding-bottom: 12px;
      }
      tbody {
        tr {
          &:hover {
            background-color: #fdf0e5 !important;
          }
          &:active,
          &.active {
            background-color: #fad3b2 !important;
          }

          td {
            max-width: 250px;
            word-break: break-all;
          }
        }
      }
      .fa {
        color: #ed6d00;
      }
    }
  }
  .maxWidth {
    width: 100%;
  }

  .updateCase {
    position: absolute;
    right: 15px;
    top: 15px;
    bottom: 15px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    width: 240px;
    margin-left: 10px;

    .title {
      border-bottom: 1px solid #c9c9c9;
      line-height: 45px;
      color: #696969;
      margin: 0 5px;

      .close {
        padding: 0 5px;
        i {
          color: #c9c9c9;
        }
      }
    }

    .content {
      height: calc(100% - 45px);
      padding: 10px 0;
      overflow-x: hidden;
      word-break: break-all;
      .block {
        li {
          padding: 15px 5px;
          h4 {
            font-size: 14px;
            margin-bottom: 10px;
          }
          p {
            color: #a0a0a0;
          }
        }

      }
    }
  }
}

.data-wrapper {
  width: 1010px;

  .wrapper {
    position: relative;

    .main {
      width: calc(100% - 260px);
      padding: 0;

      .block-wrapper {
        width: 50%;
        float: left;
        margin-bottom: 15px;
      }
      .dropdown-wrap,
      .input-group {
        display: table;
      }
      .input-group-label,
      .dropdown-label {
        width: 120px;
      }
      .input-group-label,
      .dropdown-label,
      .dropdown,
      .input-group-form,
      .item-list {
        display: table-cell;
        vertical-align: top;
      }
      //.dropdown-wrap .dropdown .dropdown-default, .dropdown-wrap .dropdown-zTree .dropdown-default {
      //  width: 180px;
      //}
      .input-group {
        //line-height: 30px;

        .item-list {
          li {
            padding: 4px 15px;
            float: left;
            color: #242424;
            cursor: pointer;
          }
          .active {
            background-color: #fad3b2;
          }
        }
      }
      .col-1 {
        width: 100%;
      }
      textarea {
        width: 100%;
        min-height: 80px;
      }
    }

    .explain {
      position: absolute;
      right: 0;
      top: 0;
      background-color: #fff;
      border: 1px solid #c9c9c9;
      width: 240px;
      margin-left: 10px;

      .title {
        border-bottom: 1px solid #c9c9c9;
        color: #696969;
        //margin: 0 5px;
      }
      .content {
        padding: 15px 5px;
        color: #1e1e1e;
        .tips {
          color: #f7a259;
          margin-top: 20px;
        }
      }
    }
  }
  .historyLog {
    padding-top: 15px;

    :checked ~.head {
      .fa {
        transform: rotate(180deg);
      }
    }
    :checked ~ .content {
      max-height: 500px;
    }

    .head {
      display: block;
      text-align: center;
      margin-bottom: 30px;
      padding-bottom: 15px;
      border-bottom: 1px dashed #d9d9d9;
      color: #8c8c8c;
      cursor: pointer;
      .fa {
        color: #8c8c8c;
        margin-left: 10px;
        transition: all .25s;
      }
    }
    .content {
      max-height: 0;
      overflow: hidden;
      transition: max-height .4s;

      .i-table {
        margin-top: 15px;
        thead {
          background-color: #fad3b2;
          color: #242424;
        }
        td {
          color: #8c8c8c;
        }
        .dark {
          color: #242424;
        }
      }
    }
  }
}

.onetext {
  max-width: 360px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    text-overflow: inherit;
    overflow: visible;
    white-space: normal;
  }
}

.opera{
  >div{
    float: left;
  }
  >div:not(:last-child){
    margin-right: 10px;
  }
  .industry{

  }// industry

  .query-reset{
  }// query-rest
}// opera

.client{
  margin-top: 15px;
  .table-opera {
    margin-bottom: 15px;
  }
  .i-table{
    margin-bottom: 20px;
    tbody{
      tr{
        td:nth-child(5),
        td:nth-child(7){
          text-align: left;
        }
      }
    }
  }
}// client

// 导入
.upload-pop{
  min-width: 400px;
  width: 400px;
  height: 210px;
  .main{
    padding: 20px 40px;
    .select-file{
      position: relative;
      overflow: hidden;
      border: 1px solid #DDDEE1;
      border-radius: 4px;
      label{
        position: absolute;
        background-color: #fff;
        display: inline-block;
        padding: 3px 10px;
        cursor: pointer;
        border-right: 1px solid #DDDEE1;
        transition: .2s;
        &:hover{
          color: #ED6D00;
        }
      }
      input{
        margin-bottom: 1px;
        font-size: 14px;
      }
    }
    .btn-group{
      margin-top: 60px;
      text-align: right;
    }
  }
}

.star {
  color: #ff0000;
  position: absolute;
  margin-top: 6px;
}

.i-table thead {
  background-color: #ed6d00;
  color: #fff;
}
.autoComplete-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.dropdown-wrap .dropdown-zTree {
  >ul{
    display: none;
    position: absolute;
    left: 0px;
    z-index: 1;
    cursor: pointer;

    li{
      padding: 0 10px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover{
        background-color: transparent;
      }
    }
    .li-checkbox{
      display: none;
    }
  }
}

