.search-wrapper,
.main-wrapper {
  background-color: #fff;
  border-radius: 2px;
}

.main-wrapper {
  padding: 15px;
  position: relative;

  .data {
    width: calc(100% - 250px);
    transition: width .3s;

    .table-wrapper {
      margin-top: 15px;
      position: relative;
      //background: url("../../images/watermark.png") repeat left top;

      th,
      td {
        min-width: 45px ;
        padding-top: 12px;
        padding-bottom: 12px;
      }
      thead {
        .desc {
          display: inline-block;
          position: relative;
          .icon-asc,
          .icon-desc {
            display: inline-block;
            height: 10px;
            width: 14px;
            overflow: hidden;
            position: absolute;
            top: -16px;

            .fa {
              font-size: 18px;
              color: #FAD3B2;
              margin-top: -5px;
              cursor: pointer
            }
          }
          .icon-desc {
            height: 12px;
            top: -4px;
            .fa {
              position: absolute;
              left: 2px;
            }
          }
          .active .fa {
            color: #fff;
          }
        }
      }
      tbody {
        tr {
          &:hover {
            background-color: #fdf0e5 !important;
          }
          &:active,
          &.active {
            background-color: #fad3b2 !important;
          }

          td {
            max-width: 250px;
            word-break: break-all;
          }
        }
      }
      .fa {
        color: #ed6d00;
      }
    }
  }
  .maxWidth {
    width: 100%;
  }

  .updateCase {
    position: absolute;
    right: 15px;
    top: 15px;
    bottom: 15px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    width: 240px;
    margin-left: 10px;

    .title {
      border-bottom: 1px solid #c9c9c9;
      line-height: 45px;
      color: #696969;
      margin: 0 5px;

      .close {
        padding: 0 5px;
        i {
          color: #c9c9c9;
        }
      }
    }

    .content {
      height: calc(100% - 45px);
      padding: 10px 0;
      overflow-x: hidden;
      word-break: break-all;
      .block {
        li {
          padding: 15px 5px;
          h4 {
            font-size: 14px;
            margin-bottom: 10px;
          }
          p {
            color: #a0a0a0;
          }
        }

      }
    }
  }
}

.highlight {
  color: #ed6d00;
}