.main{

  .user-level-tabs{
    >div {
      float: left;
      line-height: 30px;
      padding: 0 15px;
      border: 1px solid #DDDEE1;
      border-radius: 4px 4px 0 0;
      border-bottom: none;
      cursor: pointer;
    }
    .level-active{
      background-color: #ED6D00;
      border-color: #ED6D00;
      color: #FFFFFF;
    }
  }

  .opera,
  .client,
  .client-msg{
    padding: 10px;
    background-color: #fff;
    border: 1px solid #DDDEE1;
  }

  .opera{
    >div{
      float: left;
    }
    >div:not(:last-child){
      margin-right: 20px;
    }
    .industry{
      
    }// industry

    .client-num,
    .client-name{
      .input-group-form{
        width: 300px;
      }
    }// client-num

    .client-name{
    }// client-name

    .query-reset{
    }// query-rest
  }// opera

  .client{
    .i-table{
      tbody{
        tr{
          td:last-child{
            .types-show{
              span{
                line-height: 30px;
              }
              .type-pending{
                color: #14a6ef;
              }
              .type-pass{
                color: #5eb95e;
              }

              .type-reject{
                color: #dd514c;
              }
              .type-revoke{
                color: #222;
              }
            }// .type-show
            .operas-btn{
              line-height: 30px;
              div:not(:last-child){
                transition: .2s;
                &:hover{
                  background-color: #FF8319;
                  color: #FFFFFF;
                }
              }

              div:last-child{
                padding-left: 10px;
                cursor: pointer;
                .fa{
                  font-size: 16px !important;
                }
                .has-reject{
                  color: #ff0000 !important;
                }
              }
            }
          }
        }
      }
    }
  }// client

  .table-opera{
    padding-bottom: 10px;
  }

  .upload-pop{
    min-width: 400px;
    width: 400px;
    height: 210px;
    .main{
      padding: 20px 40px;
      .select-file{
        position: relative;
        overflow: hidden;
        border: 1px solid #DDDEE1;
        border-radius: 4px;
        label{
          position: absolute;
          background-color: #fff;
          display: inline-block;
          padding: 3px 10px;
          cursor: pointer;
          border-right: 1px solid #DDDEE1;
          transition: .2s;
          &:hover{
            color: #ED6D00;
          }
        }
        input{
          margin-bottom: 1px;
          font-size: 14px;
        }
      }
      .btn-group{
        margin-top: 60px;
        text-align: right;
      }
    }
  }

  .audit-history{
    .table-box{
      padding: 20px;
    }
  }

  
}// main