@charset "utf-8";

.main{
  .screening-condition{
    height: 100px;
    background-color: #fff;
  }

  .partner-msg{
    height: 300px;
    background-color: #fff;
  }

  .confidential-msg{
    height: 200px;
    background-color: #fff;
  }
}// end