@charset "UTF-8";

.theme-color {
  color: #ed6d00;
}
.wrong-border {
  border: 1px solid #ff0000;
  box-shadow: 0 0 5px rgba(255, 0, 0, .5);
}

//Button
.btn-theme {
  background-color: #ed6d00;
  border-color: #ed6d00;
  &:hover,
  &:focus {
    background-color: #ff8319;
    border-color: #ff8319;
  }
}
.btn-border {
  color: #ed6d00;
  border-color: #ed6d00;
  &:hover,
  &:focus {
    color: #ff8319;
    border-color: #ff8319;
  }
}

// Table
.i-table {
  text-align: center;
  thead {
    background-color: #ed6d00;
    border-bottom: 0;
    color: #fff;
    font-weight: 500;
  }
  tbody {
    font-size: 14px;
  }
}

//Modal
#modalWrap .modal-title {
  background-color: #f1f1f1;
  border-radius: 4px 4px 0 0;
}
#modalWrap .modal-foot {
  display: none;
}


.breadcrumb {
  color: #939393;
  padding: 0 20px;
  margin-bottom: 10px;
  a {
    &:hover,
    &:active {
      color: #333;
    }
  }
  .line {
    margin: 0 6px;
  }
}

.page-css{
  div,span{
    display: inline-block;
    vertical-align: middle;
  }
  div,input{
    width: 30px;
    height: 30px;
  }
  div{
    border: 1px solid $border-col;
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    @include transition();
    &:hover{
      border-color: $theme-normal;
      i{
        color: $theme-normal;
      }
    }
    i{
      @include transition();
      font-size: 20px;
      color: $text-col;
    }
  }
  input{
    font-size: 14px;
    text-align: center;
    padding: 0;
  }
}// page-css


